[2019-07-09 19:10] casz commented on #942
Have you tried exporting the config?

[2019-07-09 20:19] #939 closed

[2019-07-09 20:30] #883 closed

[2019-07-09 20:30] Harguer commented on #942
yeah, i tried something like that, but i want to setup this using casc from a helm deploy, so that is why i'm interested on the attribute name and have added into the yaml stuff to have automated it.

[2019-07-09 20:34] casz commented on #942
Well easier to configure and than export :sweat_smile:

[2019-07-09 20:36] casz commented on #942
@Harguer helps to go look at the plugin: https://github.com/jenkinsci/lockable-resources-plugin/blob/488de1515354b77b1900d10165475acf28773e51/src/main/resources/org/jenkins/plugins/lockableresources/Messages.properties#L10

[2019-07-09 20:37] casz commented on #942
https://github.com/jenkinsci/job-import-plugin/blob/568a61d8917280ae19d1feff16bdf19df032aa7c/src/main/resources/org/jenkins/ci/plugins/jobimport/Messages.properties#L32

[2019-07-09 20:38] casz commented on #942
Github search is your friend: https://github.com/jenkinsci/lockable-resources-plugin/search?q=PermissionGroup&unscoped_q=PermissionGroup

[2019-07-09 20:58] Harguer commented on #942
Awesome! Thank you. Let me try with that :)

[2019-07-09 22:30] Harguer commented on #942
Seems these are working pretty good, to get that, i just configured manually from web-gui then exported the config, thanks for the help D:

[code]

[2019-07-09 23:01] #942 closed

[2019-07-10 09:52] AbhyudayaSharma opened #944 "DataBoundConfigurator should support sets"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [ ] Link to any upstream changes that might be required (for example Jenkins Core pull request)

### Feature Request

A `@DataBoundConstructor` which has a `Set` as one of its parameters doesn't support neither configuration nor export. An `IllegalArgumen

[2019-07-11 14:06] #944 closed

[2019-07-15 10:29] entasisj opened #947 "Cannot configure Nomad plugin with JCasC"
[jenkins-jira]: https://issues.jenkins-ci.org/browse/JENKINS-58491
[dashboard]: https://issues.jenkins.io/secure/Dashboard.jspa?selectPageId=18341
[contributing]: ../blob/master/docs/CONTRIBUTING.md
[compatibility]: ../blob/master/docs/COMPATIBILITY.md

### Your checklist for this issue

🚨 Please review the [guidelines for contributing][contributing] to this repository.
💡 To better understand plug

[2019-07-15 10:58] vladfr opened #948 "Support addressing Vault keys by path"
### Feature Request

Support for Vault is very welcomed. One thing that we noticed early on is that we can manage all of our credentials this way, and not just stuff that Jenkins needs on startup.

The problem is that, even if you can add multiple Vault paths, you cannot have duplicate keys. This leads to the need of duplicating secrets in Vault.

Here's an example: we have many Azure accounts tha

[2019-07-15 11:23] casz commented on #948
feel free to contribute :)

[2019-07-15 16:02] sladyn98 commented on #540
So, If I understand correctly and do correct me I am wrong, we need to invoke the `formValidation doCheckNewSource` method during dry-run so that we can prevent invalid values. https://github.com/jenkinsci/configuration-as-code-plugin/blob/d4ee6e56069edbe85f9dd8ef184b6584e16e0000/plugin/src/main/java/io/jenkins/plugins/casc/BaseConfigurator.java#L345
Refering to the above line I can see a configur

[2019-07-17 03:14] bianxseyer opened #949 "JCasC UI Download Configuration throws Failed to Export credentials"
- [x] Jenkins version: 2.150.3

- [x] Plugin version: Credentials Plugin - 2.2.0 and Role-based Authorization Strategy - 2.12

- [x] OS: Linux

Description:

I'm trying to download configuration of JCasC via JCasC UI but the file that I was able to extract throws the below error:

credentials:
  system:
    domainCredentials:
    - credentials: |-
        FAILED TO EXPORT
        com.cloudbees.plu

[2019-07-17 05:46] AbhyudayaSharma opened #951 "DataBoundConfigurator passes null to constructor when CNode is not present"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [X] Jenkins version - 2.164.1

- [X] Plugin version - 1.24-rc834.e55a938c5ddd

- [X] OS - Windows 10 1903, JDK 1.8.0_181

### Description

`DataBoundConfigurator` passes `null` to the constructor causing a `NullPointerException` when a `CNode` correspondi

[2019-07-17 06:35] timja commented on #949
What version of the configuration-as-code-plugin are you using?

[2019-07-17 06:37] timja commented on #951
No need to create an issue and a PR

[2019-07-17 06:37] #951 closed

[2019-07-17 06:53] bianxseyer commented on #949
jcasc version: 1.23

[2019-07-17 07:33] casz commented on #949
By any chance do you have a credential certificate added?

you can run this in the [script console](https://wiki.jenkins.io/display/JENKINS/Jenkins+Script+Console) to credential types your using:

[code]

[2019-07-17 07:50] bianxseyer commented on #949
Hi @casz I tried running your code on the script console and below is the result:

credentials:
com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl@6bf5e517
com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl@6b54f95a
com.cloudbees.jenkins.plugins.awscredentials.AWSCredentialsImpl@416cbb07
com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKe

[2019-07-17 07:59] casz commented on #949
What happens if you remove AWSCredentials? Just take a backup before removing it :)

[2019-07-17 08:00] bianxseyer commented on #949
@casz you mean Cloudbees AWS Credentials plugin?

[2019-07-17 08:13] casz commented on #949
I guess that's what they are calling it 👉 https://github.com/jenkinsci/aws-credentials-plugin/blob/master/pom.xml#L40 😆

[2019-07-17 08:31] bianxseyer commented on #949
@casz I can't uninstall Cloudbess AWS Credentials plugin as there are a lot of dependencies on it on our jenkins setup.

[2019-07-17 08:34] casz commented on #949
As a test, to see whos causing trouble I was suggesting you take a copy of your jenkins. Spin it up and delete the AWS credential in the credential store. To see if it is the blocker.

[2019-07-17 08:47] bianxseyer commented on #949
@casz I've deleted all AWS credentials account in our jenkins and tried executing the script you have provided above. I got the below result.

credentials:
com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl@6bf5e517
com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl@6b54f95a
com.cloudbees.jenkins.plugins.sshcredentials.impl.BasicSSHUserPrivateKey@bd5d6203
Re

[2019-07-17 12:59] timja commented on #540
I think so, but I've never touched this code...

[2019-07-17 16:36] sladyn98 commented on #540
The problem though is we need a string parameter for the `do-Check` but here context is a configuration object, unless we can obtain the configuration conext as a String ?

[2019-07-18 11:39] sladyn98 commented on #540
@ndeloof @timja Was the original intention of the issue to create a custom method to run `do-Check()` in `BaseConfiguratior.java`

[2019-07-18 12:23] entasisj commented on #947
It pointed out that the missing configuration of
    org.jenkinsci.plugins.nomad.NomadCloud.jenkinsTunnel
    org.jenkinsci.plugins.nomad.NomadSlaveTemplate.remoteFs
    org.jenkinsci.plugins.nomad.NomadSlaveTemplate.prefixCmd
was caused by an error of our automatic setup (which led to a missing update of jenkins.yaml). I will close this issue.

However, it is required to configure the above value

[2019-07-18 12:23] #947 closed

[2019-07-19 22:02] nocode99 opened #954 "Add the ability to write directly to file system"
### Feature Request

Using the CasC yaml file to write files to Jenkins file system.

[code]

Perhaps this is a terrible use case, but some of our jobs rely on having an SSH key available.  I'd love to be able to leverage CasC/Vault to get an SSH key and add it to the file system with the appropriate permissions.  We have a job that uses submodules and even though we configure the authentication i

[2019-07-20 15:57] casz commented on #954
You need to add the git behavior to use a credential for the submodule.

[2019-07-22 06:33] oleg-nenashev opened #955 "JCasC Configuration History: New feature or Plugin"
There are plugins which show Configuration history for jobs and system settings:

* https://plugins.jenkins.io/jobConfigHistory
* https://plugins.jenkins.io/pipeline-config-history

What if we somehow reuse/extend the [Pipeline Config History](https://plugins.jenkins.io/pipeline-config-history) codebase in order to track and visualize YAML configuration changes inside Jenkins? It might be later us

[2019-07-22 07:30] Jochen-A-Fuerbacher commented on #955
Great idea, @oleg-nenashev!

As both history plugins get triggered by a listener, JCasC should provide a listener in order to let them track changes. Then it could be integrated very easily. At the moment I'm not sure which plugin is the best candidate for this issue.

What's your opinion, @RobinRSchulz?

[2019-07-22 17:51] namyel opened #959 "SCM checkout locks CasC directory"
### Description

I have my CasC yaml files checked out from subversion and I would like to update them directy on Jenkins-Master by a Jenkins Pipeline-Job by using the checkout scm step from svn. Whenever the checkout needs write access, the CasC-directory becomes locked in read and write access until I restart the Jenkins. So I don't have any possibility to update the casc files on this way while

[2019-07-22 18:52] timja commented on #959
Not really sure what the ask is? Casc isn't related to scm checkout, you just need to provide a yaml file.

[2019-07-22 22:11] namyel commented on #959
Sorry for the bad understandability.
My casc-files are under version control in SVN and i cannot update my working copy on the running jenkins master by using the pipeline-step "checkout".
It thought there could be a conflict in accessing the casc files - whose config is currently loaded with the casc-plugin - during svn update.
Your answer sounds like that is not very plausible?!

I could not ide

[2019-07-23 00:37] carlosjer commented on #205
Hi. I tried doing this (adding ^)  but for some reason it's not being accepted as literal `${computer.jnlpmac} ${computer.name}`. I'm getting an error where it looks for the AWS credentials. I tried putting the caret in between `$` and `{` and the file got thru but I get `$^{` which is the wrong for the args.

[2019-07-23 01:18] carlosjer opened #960 "Could not pass argument for kubernetes"
### Your checklist for this issue

🚨 Please review the [Support Policy](https://github.com/jenkinsci/.github/blob/master/SUPPORT.md)

- [x] The question was asked in the project's [Gitter chat](https://gitter.im/jenkinsci/configuration-as-code-plugin)
- [ ] Jenkins version
- [ ] Plugin version
- [ ] OS
- [ ] Reproduction steps

### Description
I tried adding `^` but for some reason it's not being

[2019-07-23 02:30] jseadragon opened #961 "Log severity should be WARN or ERROR when sources couldn't be provided"
### Feature Request

I've noticed that when my Configuration as Code fails to be applied, we get this message in the log:
[code]
It seems like this should be an `ERROR` or a `WARN` level message. Is it reasonable to update this? I also agree that there should be a notification in the UI, but at a minimum I think this should be a more severe log than an `INFO`, as it's easy to miss.

See [Configura

[2019-07-23 05:03] oleg-nenashev commented on #961
+1 for WARN as a quick fix

[2019-07-23 05:14] casz commented on #961
@jseadragon feel free to send a pull request 😉

[2019-07-23 05:57] timja commented on #959
Ah, there is a bug on jira about a file handle not being closed, it may be related to casc then.

[2019-07-23 06:15] timja commented on #960
It doesn't say what you tried initially?
have you tried:
[code]
or
[code]

[2019-07-23 08:13] carlosjer commented on #960
yes. I have tried both `^${computer.jnlpmac}` and `"^${computer.jnlpmac}" ` but they still check for AWS credentials.

![image](https://user-images.githubusercontent.com/43393612/61694783-c7af4c80-ad64-11e9-9a58-4a5fffc59b77.png)

[2019-07-23 08:51] casz commented on #960
@carlosjer a snippet of your yaml config would be helpful 😓

[2019-07-23 13:18] jseadragon commented on #961
Sure thing. I’ll put a PR up.

Jonathan

[2019-07-24 02:36] carlosjer commented on #960
Apologies. here is the snippet of the yaml config I am using. The error above is the result I get for using `args: "^${computer.jnlpmac} ^${computer.name}"`

[code]

[2019-07-24 03:31] casz commented on #960
@carlosjer what if this is the only thing you load in via JCasC?

[2019-07-24 03:34] casz commented on #960
Oh I guess you have this installed: https://github.com/jenkinsci/configuration-as-code-secret-ssm-plugin but this would be a bug in that plugin I guess.

[2019-07-24 03:39] casz commented on #960
I guess you remove the plugin until you intend to use secret-ssm-plugin it seems to be complaining about missing AWS Credentials

[2019-07-24 10:07] atrillanes1972 opened #962 "No configurator for root element <plugin> error"
No configurator for root element <plugins>

io.jenkins.plugins.casc.ConfiguratorException: No configurator for root element <plugins>
	at io.jenkins.plugins.casc.ConfigurationAsCode.invokeWith(ConfigurationAsCode.java:648)
	at io.jenkins.plugins.casc.ConfigurationAsCode.checkWith(ConfigurationAsCode.java:672)
	at io.jenkins.plugins.casc.ConfigurationAsCode.checkWith(ConfigurationAsCode.java:567)

[2019-07-24 10:16] timja commented on #962
You currently can't include it in jcasc, use install-plugins from docker or the plugin installation manager tool https://github.com/jenkinsci/plugin-installation-manager-tool

[2019-07-24 10:16] #962 closed

[2019-07-24 10:16] oleg-nenashev commented on #962
Plugin configuration is no longer supported by the plugin.
https://github.com/jenkinsci/configuration-as-code-plugin/releases/tag/configuration-as-code-1.8

[2019-07-25 05:40] carlosjer commented on #960
Thank you so much @casz for your help. Uninstalling the configuration-as-code-secret-ssm-plugin fixed the issue. I am now getting the `${computer.jnlpmac} ${computer.name}` in the args.

[2019-07-25 05:40] #960 closed

[2019-07-26 10:19] RobinRSchulz commented on #955
I also find that to be a good idea:)

Since PipelineCH and JobCH differ in the way the storage gets triggered
(config save (jch) <-> build completion (pch)) maybe the pch plugin is not the best place.
On the other hand, it surely would make sense for pch to be able to show pipeline as YAML definitions.

We're currently thinking about a support plugin which also could contain this functionality.
Us

[2019-07-29 09:38] Ilhicas opened #963 "Classes with Same name and Different Packages are being triggered - AzureCredentials"
- [X ] Jenkins version 2.187

  [X] Plugin version -configuration-as-code:1.24 && configuration-as-code-support:1.18

- [X] OS - Alpine (Docker Official Image)

### Description

When using Azure Credentials with CASC references to Azure Credentials ( plugin azure-credentials:1.6.1 ) get caught by a different package

Example for CASC confs

[code]

This results in:

[code]

The same is valid if we

[2019-07-29 09:40] casz commented on #963
This should be directed at the @jenkinsci/azure-devops-team 😅 They are the once who created the conflicting names.

[2019-07-29 09:41] timja commented on #963
I hacked around it in a PR to this plugin and set a symbol:
https://github.com/jenkinsci/windows-azure-storage-plugin/blob/dev/src/main/java/com/microsoftopentechnologies/windowsazurestorage/helper/AzureCredentials.java

but yeah it's bad class design which is causing this problem, not related to JCASC, should create an issue on jira.
@gavinfish FYI

[2019-07-29 09:41] #963 closed

[2019-07-29 09:53] oleg-nenashev opened #964 "Improve resolution of conflicting Symbols in JCasC"
Currently JCasC classes resolve configurators by explicit or implied `@Symbol`, but they do not take the context into account the context (e.g. target type). If there are two symbols in different extension points, a wrong one might be picked. https://wiki.jenkins.io/display/JENKINS/Structs+plugin explicitly permits coflicting symbols in different contexts, so we should support it in JCasC somehow.

[2019-07-29 14:42] andrew-garner opened #965 "README.md screenshot shows invalid configuration for installing plugins"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [X] Jenkins version

- [X] Plugin version

- [X] OS

### Description

[README.md](https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/README.md) in the root of this repository contains a screenshot which shows configuration for installin

[2019-07-29 14:49] casz commented on #965
@andrew-garner feel free to take a new screenshot and submit a PR 😅

[2019-07-29 15:36] gavinfish commented on #963
@Ilhicas please feel free to open a ticket on Jira and I will follow up, thanks.

[2019-07-29 16:01] Ilhicas commented on #963
@gavinfish
Ok, sure, will do.

[2019-07-29 16:04] agarthetiger commented on #965
Raised @casz 😄

[2019-07-29 16:06] oleg-nenashev commented on #963
https://github.com/jenkinsci/configuration-as-code-plugin/issues/964 is somewhat related

[2019-07-29 16:12] Ilhicas commented on #963
@gavinfish I've created issue with the same description as here. If you require any further info on how to reproduce, I'll be happy to provide

@oleg-nenashev yes the @ symbol isn't resolved, as I've used 1.1.0 for storage, that has the @ symbol @timja added, but without luck.

[2019-07-29 16:41] mattfirtion opened #967 "Support for Vault Agent"
### Feature Request

Allow CASC to use Vault Agent to retrieve secrets.  The current setup requires that some sort of credential be passed into the config file.  With agent running, the agent will handle any authentication and authorization with Vault and sensitive values wouldn't need to be placed in the config.  This also has an impact on roles that might have shorter TTLs on secret ids or token

[2019-07-29 16:53] casz commented on #967
Not sure how vault agent works, how would Jenkins get secrets from vault agent?

[2019-07-29 16:55] casz commented on #967
Is there any existing java library that can serialize data from vault agent?

[2019-07-29 17:19] mattfirtion commented on #967
Here's Hashicorp's overview on agent mode - https://www.vaultproject.io/docs/agent/index.html
The agent acts as a proxy between the client and server.  With the agent running, at the command line I don't need to first run `vault login`.  I only have to specify the `VAULT_ADDR` of where the agent is listening.  The way I'd envision this working with Jenkins is no authentication options are passed i

[2019-07-29 18:07] casz commented on #967
But how are secrets passed between agent and Jenkins?

[2019-07-29 18:29] casz commented on #967
Can we use existing interface against vault agent? IE. Cli and rest?

[2019-07-29 19:10] HerrmannHinz commented on #967
hm...

https://www.vaultproject.io/api/overview.html

[2019-07-29 19:16] casz commented on #967
Just watched up on vault agent mode it's basically the same but acts as a proxy between your application and provides some nice features.

[2019-07-29 19:18] casz commented on #967
So if CASC_VAULT_AGENT_ADDR is provided it should skip authentication, how does that sound? @mattfirtion @HerrmannHinz ?

[2019-07-29 23:34] syck40 commented on #922
I have this exact issue and it is causing me at least 2 days.  Granted most of the issue is caused by the hashicorp-vault-plugin guys are holding on the fix and have not release an update in 10 month.

What was troubling for me is that JCasC is using vault-driver 4.0 which defaults kv2, HVP(hashicorp-vault-plugin) is using 3.1 which defaults kv1 but HVP is somehow switched to using vault-driver 4.

[2019-07-30 05:13] oleg-nenashev commented on #922
Jenkins does not isolate classloading between plugins. So there is a binary
conflict. It might be possible to add shading of the library in JCasC to
prevent the issue. Updating the library dependency in Hashicorp Vault is
also a temporary solution

On Tue, Jul 30, 2019, 01:34 syck40 <notifications@github.com> wrote:

[2019-07-30 06:36] timja commented on #922
The quickest fix would be to get a release of hashicorp-vault-plugin done

[2019-07-30 06:40] oleg-nenashev commented on #922
Asked about the release in https://github.com/jenkinsci/hashicorp-vault-plugin/pull/23

[2019-07-30 08:16] timja commented on #922
Or deploy your own version of that plugin in the meantime

[2019-07-30 08:26] oleg-nenashev opened #968 "Move Vault support to another plugin"
There is a https://github.com/jenkinsci/hashicorp-vault-plugin plugin which implements Vault functionality for Jenkins. It uses Vault API libraries as well as the JCasC plugin, and there are binary compatibility issues: https://github.com/jenkinsci/configuration-as-code-plugin/issues/922

There is no practical reason to depend on a specific technology provider library in a gneric JCasC plugin. As

[2019-07-30 08:27] casz commented on #968
I think the best option would be to move it to hashicorp-vault-plugin if it is okay with the maintainers :) @ptierno 👋

[2019-07-30 08:36] timja commented on #968
Agree with moving it, @ptierno hasn't been very active recently though so may need someone to maintain it:
https://github.com/ptierno

[2019-07-30 08:37] casz commented on #968
I'd be happy to maintain hashicorp vault plugin :swea

[2019-07-30 08:38] timja commented on #968
Maybe start a dev mailing list thread?

[2019-07-30 08:40] casz commented on #968
on it!

[2019-07-30 08:56] casz commented on #968
https://groups.google.com/forum/#!topic/jenkinsci-dev/5d1y7HPD1z4

[2019-07-30 09:58] oleg-nenashev commented on #968
IMHO it was a bit premature to request access without waiting for few days for the maintainer's response. But it is up to you

[2019-07-30 10:02] casz commented on #968
😅 He can also decide to answer on the email and he is, of course, welcome to say no 😉
As @timja said he hasn't been active on GitHub

[2019-07-31 15:20] nocode99 commented on #954
Ahh.  Someone else had initially setup the job and totally missed that.

[2019-07-31 15:27] casz commented on #954
I think this feature is at the same time dangerous and pointless :sweat_smile:

There are plenty of ways to write a file to your Jenkins master and especially if using a docker image.

So can we consider it closed?

[2019-07-31 15:29] nocode99 commented on #954
Yeah. I was trying to think of other use cases, but don't see one. Thanks for the help and prompt response!

[2019-07-31 15:29] #954 closed

[2019-07-31 17:44] #965 closed

[2019-07-31 21:02] MohammadRahaman commented on #76
@timja @ewelinawilkosz @ndeloof
I am trying to reload yaml file programmatically which will configure openstack plugin and when i will change or update my yaml file which will automatically reflect on openstack plugin configuration - that's our goal!!
 I can perform manually in Jenkins UI - Configuration as Code. I am using groovy and yaml combined. If you've any code (groovy) which will reload ya

[2019-07-31 21:04] timja commented on #76
There's a webhook or CLI call you can make:
https://github.com/jenkinsci/configuration-as-code-plugin#triggering-configuration-reload

[2019-07-31 21:24] MohammadRahaman commented on #76
@timja
we are not using Jenkins CLI!! how our job is running - after pushing the code to github then github triggering build in jenkins server. after that build is done which is based on commit message then will  select template which is going to create image (according to our configuration), from that image we launched instances (openstack cloud) which has to be configured openstack cloud based o

[2019-08-01 05:51] timja commented on #76
I think this will reload through groovy?
`ConfigurationAsCode.get().configure()`

[2019-08-01 19:55] MohammadRahaman commented on #76
@timja
I applied this method and it's reloading, when I change the file name it doesn't configured the way i expected - means new file configuration doesn't reflect in configure system. Still previous file configuration are there and I need to change the new file path manually then it works (after running job) which I am not expecting!!!

[2019-08-02 06:46] timja commented on #76
Have a look at the code if you're going to do stuff like this...
https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/plugin/src/main/java/io/jenkins/plugins/casc/ConfigurationAsCode.java#L577

[2019-08-02 19:29] MohammadRahaman commented on #76
@timja @ewelinawilkosz
it doesn't reload configuration on the fly when running the code!!!

Our goal is reload yaml file on the fly which will reflect on OpenStack cloud configuration but I couldn't find any solution so far!!!  I used groovy and yaml combined, and creating yaml file which will retrieve all images from OpenStack 4J Clouds what I got dynamically but when I try to reload that file on

[2019-08-02 19:43] casz commented on #76
@MohammadRahaman
Surely you can figure out how to poke a URL if you can figure out how to configure OpenStack cloud configuration.
It's fully documented here: https://github.com/jenkinsci/configuration-as-code-plugin#triggering-configuration-reload

Instead of being so demanding and excessive usage of exclamation marks.
Perhaps you could consider contributing to the problem/solution, thank you.

[2019-08-02 21:01] MohammadRahaman commented on #76
@casz
I am not able to post screen shot because I didn't receive any error message, as I said that it will run successfully and create yaml file and changing values but not uploading/reloading dynamically which is going to reflect openstack cloud configuration. As the same yaml file when i reload manually it changing the openstack cloud configuration. That's the issue I am struggling to solve it b

[2019-08-02 21:07] casz commented on #76
curl is a linux command-line tool and has nothing to do with groovy.
I am sorry @MohammadRahaman I cannot help you.

[2019-08-02 21:21] MohammadRahaman commented on #76
@casz
yes, you are right and I know that but what I applied in groovy as below -
[code]

[2019-08-05 16:27] MohammadRahaman commented on #76
@ewelinawilkosz @timja
After applying lot of approaches what I found a solution like first time I need to setup file path in configuration as code manually(one time activity), after that when job run it will reload automatically and configure automatically as well , if file name not exist in configuration as code plugin it won't configure. So whenever or whatever modification is done belongs to th

[2019-08-05 16:34] ewelinawilkosz commented on #76
but what is your question now @MohammadRahaman ?
how to set up the location of the file? of course you have to do it manually - how else the plugin is supposed to find it? :) you can use "Path or URL" field or use environment variable `CASC_JENKINS_CONFIG`- it is explained in README

[2019-08-05 16:46] MohammadRahaman commented on #76
@ewelinawilkosz
I set up path use environment variable like this `export CASC_JENKINS_CONFIG=/var/jenkins/casc_config`

But i want something like without manual interaction - it's like when jenkins job run  on the fly it will set up the path automatic using environment variable  and configured as well(changing existing to new configuration) which I declared in scripts but it won't. So my understan

[2019-08-05 17:01] ewelinawilkosz commented on #76
I'm afraid we can't help much more - as far as I understand automatic reload of configuration is possible to achieve, you seem to be asking about changing the location of configuration file ("set up the path") and that is not the scope of that issue and I am not sure it is a crucial feature - anyone can disagree of course
I opened the issue a long time ago and knowing what I know now I am satisfie

[2019-08-05 17:01] #76 closed

[2019-08-06 15:25] ldelgadop44 opened #979 "Plugin Download 404"
##**### Jenkins Download**

I have been trying download configuration-as-code pluggin and does not work.

`curl -sSfL --connect-timeout 20 --retry 3 --retry-delay 0 --retry-max-time 60 https://updates.jenkins.io/2.176/latest/configuration-as-code.hpi -o /usr/share/jenkins/ref/plugins/configuration-as-code.jpi`

**Request response:** _curl: (22) The requested URL returned error: 404 Not Found_

[2019-08-06 15:41] oleg-nenashev commented on #979
Looks like a mirror issue

[2019-08-07 17:27] tjanson commented on #151
@ndeloof I’m quite surprised that that indeed works for `rawBuildsDir`. I was unaware of the `restricted` attribute. It does not work for `workspacesDir` nor `rawWorkspaceDir`.

I’m curious how this works under the hood: my first guess is that `rawBuildsDir` is capitalized and appended to `set`, then `setRawBuildsDir` of `jenkins.model.Jenkins` is looked up and called?
(The actual property is call

[2019-08-07 17:43] casz commented on #151
@tjanson there is no setter for workspaceDir, there is a getter for called: `getRawWorkspaceDir`

You have to use: `-Djenkins.model.Jenkins.workspacesDir` as noted by code here
https://github.com/jenkinsci/jenkins/blob/17d45ff1ae22a961dedb0b914ffd7ecdfadff005/core/src/main/java/jenkins/model/Jenkins.java#L3090

[2019-08-07 17:54] nguyenhugh commented on #949
@bianxseyer @casz FWIW +1 here and is there another way for us to have Jenkins created with Role-Based Authorization selected?

[2019-08-07 17:56] casz commented on #949
Role-Based Authorization has nothing to do with credentials?

role-strategy plugin should be fully supported.

[2019-08-07 23:28] svenstaro opened #982 "SonarQube plugin stops working with JCasC 1.24"
[jenkins-jira]: https://issues.jenkins-ci.org
[dashboard]: https://issues.jenkins.io/secure/Dashboard.jspa?selectPageId=18341
[contributing]: ../blob/master/docs/CONTRIBUTING.md
[compatibility]: ../blob/master/docs/COMPATIBILITY.md

### Your checklist for this issue

🚨 Please review the [guidelines for contributing][contributing] to this repository.
💡 To better understand plugin compatibility issu

[2019-08-07 23:31] svenstaro commented on #982
I think this might be related: https://github.com/jenkinsci/configuration-as-code-plugin/pull/950

[2019-08-08 05:02] casz commented on #982
If you read the stacktrace it says: triggers is required to configure class hudson.plugins.sonar.SonarInstallation

[2019-08-08 05:10] casz commented on #982
you should report this issue on Jenkins Jira so the right maintainer can fix the issue:

They should change this massive DataBoundConstructor
https://github.com/SonarSource/sonar-scanner-jenkins/blob/master/src/main/java/hudson/plugins/sonar/SonarInstallation.java#L83-L101
To only have mandatory fields there and then use DataBoundSetter for any additional parameters like Triggers

wink @henryju

[2019-08-08 05:31] casz commented on #982
SonarGlobalConfiguration definitely needs some love as well:
I see a lot of this: https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/docs/PLUGINS.md#descriptors-global-configuration

This is an issue
https://github.com/SonarSource/sonar-scanner-jenkins/blob/b2f16ac18319f86be7742efb21970ec7b6d955c8/src/main/java/hudson/plugins/sonar/SonarGlobalConfiguration.java#L129-L136

and so

[2019-08-08 06:08] casz commented on #979
Not sure this is something we can resolve here.
Best create an infra ticket on https://issues.jenkins-ci.org

[2019-08-08 06:08] #979 closed

[2019-08-08 07:41] svenstaro commented on #982
I did report it in the Jenkins Jira she's linked the issue above.

[2019-08-08 07:43] timja commented on #982
This is unrelated to the configuration-as-code plugin, closing this, would be good if you could add the jenkins jira link so that other people who find this issue can go to that one instead

[2019-08-08 07:43] #982 closed

[2019-08-08 07:44] svenstaro commented on #982
As I said, that link is in the checklist.

[2019-08-08 07:49] timja commented on #982
Didn't see it before, I've edited to make it clearer

[2019-08-08 13:37] tjanson commented on #151
@casz Thanks. So just out of curiosity, was my hunch correct that CasC uses reflection to look up setters, or something to that effect?

More concretely: How can I find out what other properties can be set in the same way as `rawBuildsDir`? They don’t show up in the generated CasC reference page. Can I just look at the classes in the `jenkins.model` package and look for setters with the `@Restrict

[2019-08-08 17:54] AnalogJ commented on #876
we use the following `queue` command to trigger the DSL run after the JCasC plugin runs.

However it only seems to work 50% of the time...

[code]

[2019-08-10 19:24] casz commented on #967
@mattfirtion the library we use assumes `x-vault-token` is mandatory so currently, this is not supported.

I'll see if I can send a PR their way to add support for vault agent.

[2019-08-10 23:15] casz commented on #967
Working PR https://github.com/BetterCloud/vault-java-driver/pull/184 hopefully we can get this into a release in a reasonable timeframe.

[2019-08-13 07:05] henrywang opened #983 "[JENKINS-56774] - Failed to export authorizeproject.GlobalQueueItemAuthenticator"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version

- [x] Plugin version

- [x] OS

### Description
Cannot export configuration when configuring `Run as the specified user` on `Manage Jenkins » Configure Global Security` and Adding `Project default Build Authorization`
If I change `Run

[2019-08-13 07:14] oleg-nenashev commented on #983
The plugin is not compatible with JCasC. See https://issues.jenkins-ci.org/browse/JENKINS-56774

[2019-08-13 07:31] henrywang commented on #983
Thanks @oleg-nenashev !
Form my understanding, the Jenkins works with the following configuration, but failed on `export`. Is this correct?
[code]

[2019-08-19 16:02] henryju commented on #982
I created a ticket here: https://jira.sonarsource.com/browse/SONARJNKNS-307
But it will probably be low priority for us in the coming weeks, so please feel free to provide a PR in https://github.com/SonarSource/sonar-scanner-jenkins with the fix if you know it.

[2019-08-19 16:55] casz commented on #982
It's not a small fix 😬

[2019-08-20 19:44] nbutkowski commented on #876
Confirming that I also still this behavior. Running Casc plugin 1.27 and Jobs-DSL plugin 1.175 and Jenkins 2.190. For us, it consistently doesn't work. Not sure if this is something different from what @casz fixed in #619.

createOrUpdateConfig for seed-job
Aug 20, 2019 7:43:14 PM INFO javaposse.jobdsl.plugin.JenkinsJobManagement queueJob
Scheduling build of seed-job from seed-job
Aug 20, 2019 7:4

[2019-08-20 23:12] phaze- commented on #714
Can this be reopened? I'm running into the same problem.  Is this something that needs to be fixed in the packer plugin?

[2019-08-21 00:10] casz commented on #714
If you need to pass a JSON string you can use YAML literal style

[code]

[2019-08-21 00:11] casz commented on #714
But this seems like an issue with PackerInstallation having a JSONObject on their data binding.

[2019-08-21 00:17] casz commented on #714
Actually, they don't even use the JSONObject in anything beyond the constructor...

[2019-08-21 09:02] sladyn98 opened #991 "Root Configurator Generation for New JSON Schema."
Generate the root configurators for the schema and generate a basic test suite for the inital schema generation.
We follow the `jelly.schema` files  for generation.
We have split the schema into 6 parts one for each configurator.

`plugin/src/main/resources/io/jenkins/plugins/casc/Attribute/schema.jelly
 plugin/src/main/resources/io/jenkins/plugins/casc/BaseConfigurator/schema.jelly
 plugin/src/ma

[2019-08-21 09:03] sladyn98 commented on #991
@oleg-nenashev Can you add the jcasc label.

[2019-08-21 09:05] casz commented on #991
does not make sense to label it jcasc when it is on the repo for jcasc 😆 Also our labels are under version control 😅
https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/.github/settings.yml#L14

[2019-08-21 09:08] sladyn98 commented on #991
@casz  Oh sorry for that :P

[2019-08-21 09:09] timja commented on #991
probably dev-tools would be useful?
@sladyn98 could you send a PR?

[2019-08-21 09:13] sladyn98 commented on #991
@timja Yeah definitely on it.

[2019-08-21 09:19] sladyn98 opened #992 "IDE integrations For JCasC."
IDE autocompletion with error detection for the jcasc yaml files.
Focus on popular IDE’s:
Intellij - https://github.com/JetBrains/Grammar-Kit
VSCode - https://code.visualstudio.com/docs/extensionAPI/language-support

We could deal with this is two stages :

- [ ] Intellij
- [ ] VSCode

If time permits we could add further IDE integrations.

[2019-08-21 16:59] csharmath opened #994 "oic-auth plugin fails to export or import"
[jenkins-jira]: https://issues.jenkins-ci.org
[dashboard]: https://issues.jenkins.io/secure/Dashboard.jspa?selectPageId=18341
[contributing]: ../blob/master/docs/CONTRIBUTING.md
[compatibility]: ../blob/master/docs/COMPATIBILITY.md

### Your checklist for this issue

🚨 Please review the [guidelines for contributing][contributing] to this repository.
💡 To better understand plugin compatibility issu

[2019-08-21 18:17] timja commented on #994
There's a lot more fields that need to be set.
https://github.com/jenkinsci/oic-auth-plugin/blob/master/src/main/java/org/jenkinsci/plugins/oic/OicSecurityRealm.java#L128-L132

This issue better belongs at the oic-auth-plugin

[2019-08-21 18:19] casz commented on #994
That is ONE NASTY constructor... yikes!

[2019-08-21 19:48] csharmath commented on #994
This wasn't clear to me that all, even unconfigured settings needs to be provided.

So essentially if I do this, then it seems to be working - still running some tests but already looks like it will be working

[code]

[2019-08-21 19:50] casz commented on #994
well this could be fixed in the plugin if they switched so only mandatory fields wherein the `@DataBoundConstructor` as the rest were `@DataBoundSetter`

[2019-08-21 20:49] csharmath commented on #994
one correction
endSessionEndpoint -> endSessionUrl

[code]

With this I was able to spin up a docker container, install the plugins with install-plugins.sh then drop the yaml to the $JENKINS_HOME and it came up with OpenIdConnect configured with AD FS!
Sweet!

Thank you guys, this is an awesome plugin! Wish it would be already part of Jenkins out of the box, so can also do plugins.

Based on this

[2019-08-21 20:53] casz commented on #994
There is ongoing work in the right place to take care of plugins: https://github.com/jenkinsci/plugin-installation-manager-tool

[2019-08-21 20:54] csharmath commented on #994
opened an issue for the oic-auth plugin https://github.com/jenkinsci/oic-auth-plugin/issues/75

[2019-08-21 20:55] timja commented on #994
So if the config viewExport / download fails with can't read attribute or if the yaml import fails with the constructor error, then try to specify all properties.

Wouldn't really want that noted on the readme,  you could include a demo to the demos folder with a workaround, but this is rarely needed,  it's just because the plugin needs some work to be properly compatible.

[2019-08-21 21:00] csharmath commented on #994
Another awesome news, thanks!
Is there by any chance a complete example of using this plugin installation manager tool ?
One thing is unclear to me is the jenkins.yaml support.
Will configuration-as-code just ignore the plugins section and the cli tool parse that ?

Thx

[2019-08-21 21:04] casz commented on #994
with a simple patch JCasC could ignore plugins section all together having to configure `unknown`

[code]

[2019-08-21 22:10] casz commented on #994
Another example: https://gist.github.com/casz/9400cb6455a29a4efe606f77a0947b63

[2019-08-22 15:38] yogeek commented on #968
@casz I can confirm that @ptierno is not active anymore : I tried to contact him several times for a successful merge to be released and even try its gmail address that I found somewhere and never had an answer...
Anyway, thanks for taking over this plugin !

[2019-08-22 17:00] casz commented on #968
I'll see if I can get the move done today :)

[2019-08-23 08:34] sladyn98 opened #997 "Test Framework for New JSON Schema"
As suggested by @oleg-nenashev https://github.com/jenkinsci/configuration-as-code-plugin/pull/1027#discussion_r318319668
We would be adding Unit tests for the Schema.
Inital plans:

- [ ]  Add examples in tests for valid and invalid configurators , could be typos etc.

- [ ] Add examples in tests for valid and invalid data types, eg int , string.

- [ ] Separate Test for the testing the schema Gen

[2019-08-24 00:29] #968 closed

[2019-08-24 18:25] casz commented on #659
addressed by #712

[2019-08-24 19:40] sladyn98 commented on #991
To - Do Items
a) Add Support for Custom Configurable Configurators
b) Descriptor List for all configurators
@casz The schema for the attributes for the Base, Root and HeteroDescribable Configurators has been added.However I have not added the schema for all of the Descriptors for the configurators.
Would they be duplicates of the above. I am not too sure.?

[2019-08-24 20:05] casz commented on #991
they won't be duplicated if you structure the loop and if conditions of `instanceof` so you get the expected order.

[2019-08-25 16:02] casz commented on #899
I believe this is by design 😓

before running [`configureWith`] we execute [`checkWith`] which is properly the cause of duplicate logs.

I wonder if there is a way we can reduce the log level temporarily for [`checkWith`]
WDYT @oleg-nenashev @timja

[`configureWith`]: https://github.com/jenkinsci/configuration-as-code-plugin/blob/817168b801a229dc64a4460025b69ea4f203eeea/plugin/src/main/java/io/jen

[2019-08-25 19:49] casz commented on #899
Actually, this should be fixed in a [recent version] due to a reduction in [log level].

[recent version]: https://github.com/jenkinsci/configuration-as-code-plugin/releases/tag/configuration-as-code-1.26
[log level]: https://github.com/jenkinsci/configuration-as-code-plugin/pull/975

[2019-08-25 19:54] #899 closed

[2019-08-26 01:39] LinuxSuRen commented on #994
I'm going to fix this if there's no one already started it.

[2019-08-26 04:03] reinholdfuereder commented on #899
@casz Yes, you are right: it is worked around and I can perfectly live with that. Thanks for taking care...

[2019-08-26 07:28] imod commented on #659
@casz I agree that #712 does help, but its by far not the same thing - I expect a step top be able to checkout the configuration files from git and apply the changes - using git will make a lot of thing much easier, propagating configuration files to jenkins is a lot more complicated in many environments. So in my case #712 does not help at all.
I do have this issue on my todo list and hopefully I

[2019-08-26 07:33] casz commented on #659
@imod if that's what you expect feel free to contribute 😊 I'd love to see a updated #670 and how you would solve the permission issu

[2019-08-26 07:40] imod commented on #659
@casz we solved the same issue for scriptler already...

[2019-08-26 09:31] dependabot-preview[bot] opened #1021 "Dependabot couldn't parse the config file at .dependabot/config.yml"
Dependabot couldn't parse the config file at `.dependabot/config.yml`. The error raised was:

[code]

Please ensure the config file is a valid YAML file. An online YAML linter is available [here](https://jsonformatter.org/yaml-validator).

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-08-26 09:44] oleg-nenashev commented on #1021
on it

[2019-08-26 09:51] #1021 closed

[2019-08-27 05:57] casz commented on #967
Care to review https://github.com/jenkinsci/hashicorp-vault-plugin/pull/47 would be greatly appreciated @mattfirtion @HerrmannHinz

[2019-08-27 06:29] ewelinawilkosz opened #1023 "Store exported configuration after reload for reference"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [ ] Link to any upstream changes that might be required (for example Jenkins Core pull request)

### Feature Request

Many people exports configuration and it works better and better. Lately someone suggested to me, that it would be great if the exported

[2019-08-27 06:34] casz commented on #1023
Exporting the loaded config to a file shouldn't be too difficult and can be used to compare.

[2019-08-27 07:13] rishiraaz opened #1024 "Issue with Role base strategy plugin, upgrading from Jenkins ver. 2.121.1 to Jenkins ver. 2.176.1"
### Your checklist for this issue

🚨 Please review the [Support Policy](https://github.com/jenkinsci/.github/blob/master/SUPPORT.md)

- [x] The question was asked in the project's [Gitter chat](https://gitter.im/jenkinsci/configuration-as-code-plugin)
- [x] Jenkins version
- [x] Plugin version
- [x] OS
- [ ] Reproduction steps

### Description

We are currently running Jenkins 2.121..1 and are upg

[2019-08-27 07:17] casz commented on #1024
Update JCasC and role strategy plugins...
[Please read the release notes](https://github.com/jenkinsci/configuration-as-code-plugin/releases/tag/configuration-as-code-1.18) 😓

[2019-08-27 07:18] casz commented on #1024
And remove the support plugin already...

[2019-08-27 07:24] casz commented on #1024
A simple search for [`role`](https://github.com/jenkinsci/configuration-as-code-plugin/search?q=role&unscoped_q=role) finds what your looking for: https://github.com/jenkinsci/configuration-as-code-plugin/blob/90223edaf191f28c6ec8d46f84ee7feb14172e9b/demos/role-strategy-auth/README.md#L5

[2019-08-27 07:26] rishiraaz commented on #1024
@casz i have that configuration, works with current versions

[2019-08-27 07:26] rishiraaz commented on #1024
I am removing the support plugin

[2019-08-27 07:31] #1024 closed

[2019-08-27 07:38] rishiraaz commented on #1024
After remove configuration as a code support plugin
java.lang.IllegalStateException: No configurator implementation to manage class com.michelin.cio.hudson.plugins.rolestrategy.RoleBasedAuthorizationStrategy
	at io.jenkins.plugins.casc.impl.configurators.HeteroDescribableConfigurator.lambda$forceLookupConfigurator$8(HeteroDescribableConfigurator.java:137)
	at io.vavr.control.Option.getOrElseThrow(

[2019-08-27 07:48] oleg-nenashev commented on #1024
You should use Role Strategy 2.11 or above
 https://github.com/jenkinsci/role-strategy-plugin/releases/tag/role-strategy-2.11

[2019-08-27 09:44] ffissore commented on #825
FYI the way I worked around this issue is to **document** these two post-first-run steps
- `rm MOUNTPOINT/casc_configs/initial-configuration.yml`
- `touch MOUNTPOINT/casc_configs/initial-configuration.yml`
An empty config will lead a no-op, so any changes made to the configuration are preserved

[2019-08-27 10:15] oleg-nenashev opened #1025 "DataBoundConfigurator enforces Constructor fields when ParametersAreNonnullByDefault is set, regardless of the CheckForNull flag"
It is a follow-up to the discussion in https://github.com/SonarSource/sonar-scanner-jenkins/pull/124#discussion_r317989554 with @Smasherr . https://github.com/jenkinsci/configuration-as-code-plugin/blob/f72058445c0250041303a73b5d8566140d337c67/plugin/src/main/java/io/jenkins/plugins/casc/impl/configurators/DataBoundConfigurator.java#L109-L137 checks `ParametersAreNonnullByDefault ` and fails for a

[2019-08-27 10:24] jtnord opened #1026 "Config as code runs too early in the lifecycle"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version (any / 2.176.2)

- [x] Plugin version (any / 1.29)

- [x] OS (any)

### Description

Config as code applies the configuration after `InitMilestone.EXTENSIONS_AUGMENTED`.  However the configuration of `Jenkins` is loaded after this and

[2019-08-27 10:35] amuniz commented on #1026
Possibly related to https://github.com/jenkinsci/configuration-as-code-plugin/issues/280

[2019-08-27 10:40] AbhyudayaSharma commented on #1025
Yes, the changes made in #950 do not consider either of those annotations. For reference, this is how IDEA checks for `Nonnull`ness: https://github.com/JetBrains/intellij-community/blob/be6247932aa9414ddf7831c0e3becba6940f4839/java/java-psi-api/src/com/intellij/codeInsight/NullableNotNullManager.java

[2019-08-27 10:44] oleg-nenashev commented on #1025
Probably it is a time when we include SpotBugs Core into JCasC :crazy:

[2019-08-27 10:47] oleg-nenashev commented on #1026
It is. We need to introduce more milestones in the Jenkins Core to make configuration management pluggable. Otherwise we just do hacks architecture-wise

[2019-08-27 10:53] jtnord commented on #1026
I believe that they are related but distinct.

[2019-08-27 17:23] #967 closed

[2019-08-27 22:07] oleg-nenashev opened #1028 "Document JSON Schema as a Beta feature instead of production-ready"
Taking the current situation with jSON Schema generation (TL;DR: it does not work) and ongoing project by @sladyn98 , my suggestion would be to explicitly mark the feature as Beta in documentation and to add proper API annotations. It would allow us to introduce breaking changes while the community Bridge project is in progress.

Acceptance criteria:

* Documentation is updated to highlight the st

[2019-08-28 00:34] casz commented on #1028
http://stats.jenkins.io/pluginversions/hashicorp-vault-plugin.html
Plugin users on 2.138.4 or newer is 84% on 2.138.4
We have 87% on 2.138.1 (these can easily upgrade to 2.138.4)

[2019-08-28 04:03] sladyn98 commented on #1028
Yeah, definitely adding annotations to the API's would make it easier to introduce changes to the plugin.As @casz suggested once the Schema Validation gets set up we could use it to validate before `configureWith()` is called making the schema indirectly used by the plugin.
1. The schema generation will not be explicitly used by the plugin.
2. The validation however will be used based on the schem

[2019-08-28 09:12] sladyn98 commented on #1028
@casz  Could you provide me a link to the doc and I could make a PR stating that the shcema is in beta.

[2019-08-28 09:19] casz commented on #1028
Add to the readme ❓

[2019-08-28 09:23] sladyn98 commented on #1028
Sounds cool :)

[2019-08-29 04:30] casz commented on #81
I think what @oleg-nenashev meant is to control system properties that Jenkins reads.

So instead of this in our docker image
[code]

It could be something like this:
[code]

I'd really love if we got around to this issue 😆

[2019-08-29 05:26] Spenser309 opened #1031 "Support for "Status Filter" in View"
### Feature Request

Please support the "Status Filter" in view configuration. Currently I cannot find support for this. I want to do something like the following to enable showing only currently active PRs in a build wall.

[code]

[2019-08-29 06:21] casz commented on #1031
That's a job for the plugin maintainer of build monitor

[2019-08-29 06:24] casz commented on #1031
No proper data binding https://github.com/jan-molak/jenkins-build-monitor-plugin/blob/c9395c93262c59aacc45b00d24874a8b1c911612/build-monitor-plugin/src/main/java/com/smartcodeltd/jenkinsci/plugins/buildmonitor/BuildMonitorView.java#L112

[2019-08-29 06:26] casz commented on #1031
@Spenser309 take it up with @jan-molak

[2019-08-29 06:26] #1031 closed

[2019-08-29 18:34] Rahaman148 opened #1032 "Active directory yaml and global matrix authorization getting an errors"
@ewelinawilkosz

### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version

- [x ] Plugin version

- [x ] OS

### Description
jenkins 2.17
matrix authorization strategy 2.42
casc plugin 1.25, 1.23
OS windows 10
Ubuntu 16.04

I am trying to apply active directory yaml in my jenkins.yaml file b

[2019-08-29 19:34] timja commented on #1032
Is it just a typo? One of the yaml lines you have is overall/read rather than Overall/Read

It’s saying it couldn’t find the permission, normally this is because of a missing plugin but in this case I think there’s a typo or a wrong permission.
Others ways to fix it would be to configure it in the ui and export it, or remove permissions one by one / remove all and add one by one

The error message

[2019-08-29 19:47] Rahaman148 commented on #1032
@timja
I typed wrong when I did modification but my code is ok in my system `"Overall/Read"`. I applied second one as well getting as the same errors.
I did in UI but getting same errors. I don't know how to fix that

[2019-08-29 19:52] timja commented on #1032
Try reduce the permissions down then,

[2019-08-29 20:06] Rahaman148 commented on #1032
@timja
It works like charm if I delete some permission at the end and I tried in UI, again whatever permission I deleted and I added again , now it's work fine means all are working. Thanks for your help

[2019-08-29 20:07] chris-mac opened #1033 "Update multibranch job demo to include id"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [ x] Jenkins version 2.176.3

- [ x] Plugin version 1.29

- [ x] OS Docker Jenkins Alpine LTS

### Description

The current multibranch job demo no longer works as id is now mandatory
https://github.com/jenkinsci/job-dsl-plugin/wiki/Migration#migrating-to

[2019-08-29 20:17] Rahaman148 commented on #1032
@timja
So I have to use `"Overall/Administer:.."` instead of `"Jenkins/Administer:..."` because Jenkins/Administer doesn't work.

it worked both way `permissions` or `grantedPermissions`

[code]

[2019-08-29 21:32] casz commented on #1033
No need to create an issue sending pull requests provides the same level of information.

[2019-08-29 21:32] #1033 closed

[2019-08-29 21:38] casz commented on #1032
These permissions name needs to be like that as they map to a Permission group and a permission name.

[2019-08-30 00:42] Rahaman148 opened #1035 "Invalid configuration elements for type class jenkins.model.Jenkins:globalLibraries,location,githubpluginconfig,githubConfiguration"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x ] Jenkins version
2.170
- [x ] Plugin version
1.25
- [x ] OS
windows 10

### Description
jenkins 2.17
casc plugin 1.25
OS windows 10
Ubuntu 16.04
openstack cloud 2.47
[code]
the above code is working fine and I build more than 100times and it was succe

[2019-08-30 00:49] casz commented on #1035
@Rahaman148 https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos/workflow-cps-global-lib#sample-configuration

globalLibraries belongs to unclassified

[2019-08-30 02:44] Rahaman148 commented on #1035
@casz
thanks, globalLibraries resolved but getting below errors
do I need to use `unclassified` on top of the `githubpluginconfiguration` and `githubconfiguration`?
do I need to use `unclassified` for url too?
do I need to combine all configuration in one yaml file or can I make it individual?

[code]

[2019-08-30 02:45] casz commented on #1035
same deal read the doc.
`Invalid configuration elements for type class jenkins.model.Jenkins : location,githubpluginconfig,githubConfiguration.`

All of these belong to the `unclassified`

[2019-08-30 02:48] casz commented on #1035
A full path to a single file. For example, /var/jenkins_home/casc_configs/jenkins.yaml.
A URL pointing to a file served on the web. For example, https://acme.org/jenkins.yaml.
If CASC_JENKINS_CONFIG points to a folder, the plugin will recursively traverse the folder to find file (suffix with .yml,.yaml,.YAML,.YML), but doesn't contain hidden files or hidden subdirectories. It doesn't follow symbol

[2019-08-30 02:55] Rahaman148 commented on #1035
@casz
If I use `unclassified` all places its pointing below errors for `credentials`
here is my updated code
[code]
errors
[code]

[2019-08-30 05:53] casz commented on #1035
You can settle for a single unclassified as long as your indent

What version of credential plugin is installed?

[2019-08-30 09:22] chris-mac commented on #1033
@casz do we need to update the Contribution guide as was trying to follow that?
[code]

[2019-08-30 09:57] casz commented on #1033
Well the guide could be updated, but for simple stuff a pull request is fine :)

[2019-08-30 12:53] Rahaman148 commented on #1035
@casz
so I need to use `unclassified` for all configuration even I combined all code in one file or multiple files that's you mean, please correct me

credential plugin 2.1.18 - JCasC doesn't support this version

[2019-08-30 14:55] oleg-nenashev opened #1036 "Documentation generator does not filter out inapplicable tool installers"
Documentation generator uses the base type for `ToolInstaller`, but it does not filter out inapplicable implementation for a particular `ToolInstallation`. Likely it is a symptom of a wider issue in extension handling in the documentation generator

![image](https://user-images.githubusercontent.com/3000480/64030286-8752a380-cb46-11e9-8b96-c0fec17e7ea9.png)

### Your checklist for this issue

🚨 Pl

[2019-08-30 15:22] Rahaman148 commented on #1035
@casz
I tested all code in UI it says `configuration can be applied` and I clicked on `Apply new configuration`, checked on `view configuration` it shows below errors
[code]
when I saw that message `configuration can be applied` then push the code to build job but getting below errors - don't know what exactly happen or what I need to do that to fix this issues because build hanged at this place,

[2019-08-30 15:28] oleg-nenashev opened #1037 "Document JCasC REST API"
There is some REST API offered in https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/plugin/src/main/java/io/jenkins/plugins/casc/ConfigurationAsCode.java , but there is no documentation in the plugin.

It would be great to...

* Have a documentation page under https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/docs/features
* Reference to the page from README

[2019-08-30 16:21] sladyn98 opened #1038 "Attribute and Descriptor Generation to support nested yaml in the new JSON Schema"
The current newly generated JSON Schema does not support nested configurations. The plan is to add the new nested support.
Refer to this PR : https://github.com/jenkinsci/configuration-as-code-plugin/pull/1027
Initial Plan:
Loop through  the CNodes from  `describe` and generate the schema on the go

[2019-08-30 16:26] sladyn98 opened #1039 "Testing Framework For Newly Generated Schema."
As suggested by @oleg-nenashev https://github.com/jenkinsci/configuration-as-code-plugin/pull/1027#discussion_r318319668
We would be adding Unit tests for the Schema.
Inital plans:

- [ ]  Add examples in tests for valid and invalid configurators , could be typos etc.

- [ ] Add examples in tests for valid and invalid data types, eg int , string.

- [ ] Separate Test for the testing the schema Gen

[2019-08-30 16:30] #1039 closed

[2019-08-31 09:15] simonvanderveldt commented on #774
shh stalebot

[2019-08-31 10:45] sladyn98 opened #1040 "Create POST API method to publish the New JSON Schema to a URL."
The newly generated Schema should be consumable, so we would need a method to `POST` it.
The existing methods make do with the jelly upload, so we would be aiming to change that.

[2019-09-01 17:02] #772 closed

[2019-09-01 17:02] #650 closed

[2019-09-01 17:02] #224 closed

[2019-09-02 16:29] sladyn98 commented on #1037
@oleg-nenashev All of the do`xyz` functions provide a consumable API right ?

[2019-09-03 20:41] casz commented on #913
@MRamonLeon could you add a failing unit test so we have something to work towards?

[2019-09-04 08:35] oleg-nenashev commented on #1037
Somewhat

[2019-09-04 18:22] Rahaman148 commented on #1032
@casz

active directory 2.16
When I configured active directory always locked me out! I am not able login jenkins. I applied manually and it says configuration can be applied , when I clicked `apply new configuration` after that I can't login back. I used my credentials and it says `Invalid Username and Password`.

I don't know is this plugins related or permissions?

[2019-09-04 18:36] Rahaman148 commented on #1035
@casz
could you please tell me do I need to use url to configure configuration as code?
If so which url I will use please tell me thanks

[code]
if I kept url it shows below errors
[code]

If I remove the url it shows below errors
[code]

[2019-09-06 08:32] oleg-nenashev opened #1048 "Unexpected space between the class name and the attribute name in system logs"
E.g. see https://github.com/jenkinsci/ssh-slaves-plugin/pull/147 where the log entry changed to `Setting class hudson.plugins.sshslaves.SSHLauncher. host = ssh-host`. There should be no space

### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version
- [x] Plugin version
- [x] OS

[2019-09-08 21:49] #1048 closed

[2019-09-10 12:04] #1025 closed

[2019-09-11 08:34] timja commented on #922
Resolved now in newest hashicorp-vault-plugin

[2019-09-11 08:34] #922 closed

[2019-09-11 15:30] sladyn98 opened #1056 "VsCode Autocompletion and validation via the newly Generated JSON Schema"
The newly generated JSON Schema https://github.com/jenkinsci/configuration-as-code-plugin/pull/980 validates basic schemas. This can be leveraged in VScode via :

1. Plugin
2. Local JSON Schema uploaded on a JSON Schema Store

[2019-09-11 15:49] oleg-nenashev commented on #1056
Option 2 would be a nice thing to document as a quick win. We could also have  unified schema generation and deployment for https://github.com/jenkinsci/bom bundles (CC @jglick)

Option 1 looks to be a preferred solution for usage IRL

[2019-09-12 05:55] sladyn98 commented on #1056
Option 1 looks really cool because If I read correctly vscode api pulls the JSON Schema off the schema store.

[2019-09-12 06:17] sladyn98 commented on #1040
This was resolved by adding the `GET` method to the schema generation since we necessarily do not require a `POST` method for the schema.
Resolved by https://github.com/jenkinsci/configuration-as-code-plugin/pull/980

[2019-09-12 06:17] #1040 closed

[2019-09-12 06:18] timja commented on #1056
not sure how this related to option 1, you don't have to write a plugin as the redhat yaml plugin already does that, you just need an improved schema?

[2019-09-12 06:21] timja opened #1057 "Remove old jelly schema"
### Description

Remove all schema.jelly files as they've now been replaced with generation in java
https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/plugin/src/main/resources/io/jenkins/plugins/casc

Also remove any code that was used to serve the schema in ConfigurationAsCode.java

We could then update v2Schema to be called just schema as well

[2019-09-12 06:23] timja opened #1058 "Dev tools: Blog post for end of phase 1"

[2019-09-12 16:09] oleg-nenashev opened #1059 "Add field documentation to the JSON Schema"
The new schema from #980 works pretty well on my instance, and it already produces some useful data. Unfortunately the schema does not include documentation for fields, and it could be a nice improvement, especially when we start working on the IDE integration.

CC @sladyn98

[2019-09-13 12:01] sladyn98 commented on #1059
@oleg-nenashev  We could add the `"description": ` attribute to the fields but from where exactly are we to find out the description of every node ? eg maven.

[2019-09-13 12:43] timja commented on #1059
does the existing schema have it?

[2019-09-13 12:50] sladyn98 commented on #1059
No @timja the existing schema doesn't have it

[2019-09-13 12:52] timja commented on #1059
I guess we could allow custom configurators to contribute it, but the default autogenerated ones wouldn't have it?

[2019-09-13 13:02] sladyn98 commented on #1059
I do not see any method giving away the description for nodes. I guess we could write a method that takes a note for every configurator, but we might have to initially add the information

[2019-09-13 17:37] oleg-nenashev commented on #1059
It can be retrieved from field documentation, e.g. see how Jelly or docs generator does it

[2019-09-13 18:03] timja commented on #1059
actually yeah, there's a getHelpFile method on the descriptor I believe

[2019-09-13 18:04] sladyn98 commented on #1059
Yeah I will have a look :)

[2019-09-14 11:32] timja commented on #1059
You have access to the descriptor in HeteroDescribeableConfigurator
https://github.com/jenkinsci/configuration-as-code-plugin/blob/6ab460cb5a0aed7c495e50b69eae0ac80876f59e/plugin/src/main/java/io/jenkins/plugins/casc/impl/configurators/HeteroDescribableConfigurator.java#L111

[2019-09-14 17:57] sladyn98 commented on #1059
@timja
` } else {
            attributeSchema.put(attribute.getName(),
                new JSONObject()
                    .put("type", "object")
                    .put("$id", "#/definitions/" + attribute.type.getName()));
        }
    }`
is there a way to get it in this manner from the attribute because we would need to enter the field name of the attribute.

[2019-09-16 09:45] oleg-nenashev opened #1066 "JCasC templating support"
Currently JCasC does not support YAML templating or inclusion in any means.  For example, in https://github.com/oleg-nenashev/demo-jenkins-config-as-code/blob/master/init_scripts/src/main/groovy/scripts/Docker.groovy I create multiple Docker Cloud templates for different agent types. The configuration would be huge and difficult to maintain in JCasC.

I would suggest having an engine similar to wh

[2019-09-16 17:42] Rahaman148 opened #1067 "wants to apply configuration as code yaml file through groovy"
@ewelinawilkosz

### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [2.194 ] Jenkins version

- [1.30 ] Plugin version

- [ windows 10] OS

### Description

I am just checking is this issue resolved "https://issues.jenkins-ci.org/browse/JENKINS-58453?filter=10244"? Because I need to follow to same step to

[2019-09-16 19:01] timja commented on #1067
Is this what you're looking for?
https://github.com/jenkinsci/configuration-as-code-groovy-plugin

[2019-09-16 20:06] Rahaman148 commented on #1067
@timja
No, I want to use function (groovy) to call configuration as code plugin which is going to do configuration instead of doing from the BootSource.
 I am looking for something like this - "https://issues.jenkins-ci.org/browse/JENKINS-58453?filter=10244"
"We have a groovy script that calls the plugin directly to apply the configuration after build completion, so that we can keep the CasC setti

[2019-09-16 20:17] timja commented on #1067
ConfigurationAsCode.get().connfigure()

[2019-09-16 20:25] Rahaman148 commented on #1067
@timja

do I need to use in this way please correct me -

[code]
what it does `GroovyClassLoader(context.class.getClassLoader())`?

[2019-09-16 20:27] timja commented on #1067
something like:
[code]

or, if  you just want  to reload:

[code]

[2019-09-16 21:06] Rahaman148 commented on #1067
@timja
[code]
It's complaining illegal argument exception  -

[code]

[2019-09-17 17:11] sladyn98 commented on #1056
Progress on this front: We could do the following with respect to VSCode.
Instead of a plugin my thoughts on this are:
a) Addition of the `schema.json` to the work-space.
b) Addition of the settings required to invoke the schema with the help of the redhat-plugin
We could add this to the readme and users would then be able to leverage of the schema.

CC : @oleg-nenashev @timja @casz

[2019-09-17 17:13] sladyn98 commented on #1058
I have a draft ready, should we wait before we add the nesting support because @oleg-nenashev mentioned that phase 1 would not be complete before addition of the nested support

[2019-09-17 17:13] timja commented on #1056
I think this is good for v1, v2 we could publish the full schema to schema store then it's one less step for users.

but we need to get the nested configuration working so the schema knows about required fields

[2019-09-17 17:21] timja commented on #1059
This is how it's retrieved in the jelly documentation:
https://github.com/jenkinsci/configuration-as-code-plugin/blob/1302e67d6e6743423cd74eb26ace0ac08d59bc86/plugin/src/main/resources/io/jenkins/plugins/casc/BaseConfigurator/documentation.jelly#L42

[2019-09-17 18:12] Rahaman148 commented on #1067
@timja
when I used scripts like this it said AccessDenied but permission are there 755, I can't make that 777 because this is main server.

[code]
I don't know where I made mistake, here are the errors
[code]

[2019-09-17 18:57] timja commented on #1067
it looks like you're trying to access a file on the master from an agent?

[2019-09-17 19:01] Rahaman148 commented on #1067
@timja

how can I make that happen? Any idea please

[2019-09-17 19:04] timja commented on #1067
can't you just publish it to a url that jenkins can retrieve it from and then trigger a reload?

[2019-09-18 15:56] Rahaman148 commented on #1067
@timja
I changed scripts please see below and it's keep complaining  -
[code]
It's keep complaining

[code]

[2019-09-18 16:22] sladyn98 commented on #1056
@timja I could make a PR with the existing schema to schemaStore to get our schema included.So that users can test it out as a beta. Or we could wait for nesting to be supported.

[2019-09-18 22:08] #924 closed

[2019-09-19 05:37] timja commented on #1056
Lets get a better schema before sending it there

[2019-09-19 19:54] sladyn98 commented on #1058
https://medium.com/@sladynnunes98/community-bridge-with-jenkins-phase-1-78f811c975c0

cc @timja @oleg-nenashev @casz

[2019-09-19 21:21] oleg-nenashev commented on #1058
Thanks for the blogpost. Parts about the schema could  be more detailed,
but it should do the job.

W.r.t phase 1 Definition of Done, the final decision is up to mentors

On Thu, Sep 19, 2019, 21:54 Sladyn <notifications@github.com> wrote:

[2019-09-19 22:51] Rahaman148 commented on #1067
@timja

Any suggestions please!

[2019-09-20 06:03] sladyn98 commented on #1058
Yeah I will add changes.Thanks

[2019-09-20 06:29] #1057 closed

[2019-09-20 07:49] oleg-nenashev commented on #1028
Is there anything left to be done here @sladyn98 ?

[2019-09-20 07:53] sladyn98 commented on #1028
No nothing.

[2019-09-20 07:55] #1028 closed

[2019-09-20 10:13] oleg-nenashev commented on #997
One comment here: Test Framework != Tests. Test framework is supposed to simplify writing tests by moving common logic into various utility methods. Is this part considered here?

[2019-09-20 10:15] sladyn98 commented on #997
Yeah we would just have to add a file and call a few common methods. I could include it in the next PR of the next schema. So to answer your question It has been considered.

[2019-09-20 10:29] timja commented on #1056
when I used it I tested with this: https://github.com/hmcts/cnp-jenkins-docker/tree/fix-organisations-and-docs
and then did
CMD + SHIFT + P => Preferences: Open settings (JSON) =>
[code]

[2019-09-20 13:22] sladyn98 commented on #1056
@timja +1

[2019-09-20 17:13] Rahaman148 commented on #1067
@timja @ewelinawilkosz
I used two approaches but none of them helped -
1st Option with errors:
[code]
errors -
[code]
2nd option with errors -
[code]
errors -
[code]
really don't know what exactly happen and how to fix that? Any help will be highly appreciated thanks

[2019-09-22 09:54] timja commented on #653
Not stale

[2019-09-22 18:45] timja commented on #1067
You didn’t answer this
https://github.com/jenkinsci/configuration-as-code-plugin/issues/1067#issuecomment-532358147

[2019-09-23 12:45] sladyn98 commented on #1056
The uses of having Vs Code integration for the YAML files can be considered below:
1) Can be used for auto completion of fields , enabling users to find it easier to complete the YAML file.
2) Documentation of fields is subject to https://github.com/jenkinsci/configuration-as-code-plugin/pull/1060, this would help developers get more information about the fields.
3) Validation of the YAML would al

[2019-09-23 13:05] timja commented on #1056
👍

👍

This could be integrated with a plugin to make it seamless for the user though.

uploading to schema store is difficult though because every plugin impacts the schema and any plugin update could require the schema to be re-generated.
I'm not sure if this would work well...

[2019-09-24 18:26] sladyn98 commented on #1056
{
   "definitions": {},
   "$schema": "http://json-schema.org/draft-07/schema#",
   "$id": "http://example.com/root.json",
   "type": "object",
   "title": "The Root Schema",
   "required": [
     "git"
   ],
   "properties": {
     "git": {
       "$id": "#/properties/git",
       "type": "object",
       "title": "The Git Schema",
       "required": [
         "installations"
       ],
       "p

[2019-09-24 18:32] timja commented on #1056
Can you use markdown to format your yaml please?

[2019-09-24 18:42] timja commented on #1056
I've updated the schema to match the demo:
https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos/git

and formatted appropriately,
what's wrong with the documentation? it works for me

[2019-09-24 18:44] sladyn98 commented on #1056
Yep it works that's perfect :)

[2019-09-24 18:49] timja commented on #1056
Added `"additionalProperties": false,` throughout, it disallows unknown properties  , tested in vs-code and it works fine

[2019-09-24 18:50] timja commented on #1056
We don't need it in schema store for version 1, also not convinced it's a great idea anyway, just need documentation on how to configure vs-code to use the schema for the initial iteration

[2019-09-24 19:10] sladyn98 commented on #1056
Yeah agreed.Lets just add it to the readme.md

[2019-09-27 14:48] oleg-nenashev opened #1076 "Document using VS Code with JCasC JSON Schema"
We need documentation explaining how to use JSON Schema in Visual Studio Code. Use-cases to address:

* How to get automatic syntax validation working
* How to get autocompletion working
* How to get Documentation popups working

Acceptance criteria:

- [ ] A documentation page is created (it might be a separate page or a section). It isw referenced from the JSON Schema documentation
- [ ] There i

[2019-09-27 14:51] oleg-nenashev commented on #992
We agreed that VS Code is a top priority. Then we can consider doing IDEA once VS Code is completed

[2019-09-27 14:58] oleg-nenashev opened #1077 "[epic] VS Code Plugin: Support validating schema from a running Jenkins instance"
It would be great to have a VS Code plugin which automatically fetches JSON Schema from a running instance so that users can easily integrate the feature in their flows.

Acceptance criteria:

- [x] There is a new "JCasC plugin" for VS Code. It should be a new repository under jenkinsci (will need to pass through the hosting process)
- [x] The plugin can fetch (and cache?) JSON Schema using REST A

[2019-09-29 05:26] #893 closed

[2019-09-29 19:26] sladyn98 opened #1092 "Custom Matcher for JSON Field Validation against the Schema"
The current schema makes use of the already defined `schema.validate()` inside the `org.everit.json.schema` but as @timja suggested we could write our own custom matcher for the fields we want to evaluate against. The link to the [comment](https://github.com/jenkinsci/configuration-as-code-plugin/pull/1078#discussion_r329306306)
[Reference](https://www.baeldung.com/hamcrest-custom-matchers)

- [ ]

[2019-09-29 19:30] sladyn98 opened #1093 "Lack of htmlHelpFile for HeteroDescribable Configurators"
The current schema generation makes use of the `ConfigurationAsCode.get().getHtmlHelp(heteroDescribableConfigurator.getTarget(), heteroDescribableConfigurator.getTarget().getName()` in order to get the description of the configurators so as to add it into the documentation.However the hetero Describable Configurators seem to not have any documentation being returned.

[2019-09-29 20:04] timja opened #1094 "Add json schema validation to RoundTripAbstractTest"
https://github.com/jenkinsci/configuration-as-code-plugin/blob/1009f950babffb896a67f9ebae3d07cfcf537f5f/plugin/src/test/java/io/jenkins/plugins/casc/misc/RoundTripAbstractTest.java#L47

RoundTripAbstractTest should be updated to validate the json schema as well

[2019-09-29 21:48] oleg-nenashev commented on #1094
FYI @MRamonLeon

[2019-10-01 19:11] sladyn98 commented on #1094
@timja Would adding one of the schema.validate("filename") be sufficient here?

[2019-10-02 05:59] sladyn98 opened #1120 "Case Study + BlogPost for JSONSchema on Jenkins.io"
- [ ] Phase 1 Blog.
- [ ] How to use the schema.
- [ ] Request for Contributions.

[2019-10-02 06:00] sladyn98 commented on #1120
cc @oleg-nenashev @timja

[2019-10-02 06:02] sladyn98 commented on #1056
@timja Does this need any more work or can be closed ?

[2019-10-02 06:03] sladyn98 commented on #1058
@timja This is already being dealt with in a new use case, since with respect to the personal Blog this issue is done, can be closed ?

[2019-10-02 06:15] timja commented on #1056
Closing as other issues cover the remaining work

[2019-10-02 06:15] #1056 closed

[2019-10-02 06:15] #1058 closed

[2019-10-02 07:12] sladyn98 commented on #1120
Should the blog  page be inside the jscasc folder or separately inside blog for jenkins.io ?

[2019-10-02 07:30] timja commented on #1120
jenkins.io

[2019-10-02 07:31] timja commented on #1094
not quite sure, but basically what you've done in your testing PR but adding a call to this in the uber abstract test

[2019-10-02 07:34] sladyn98 commented on #1120
No i mean where inside Jenkins.io should it be under JCasC or under the blogs section?

[2019-10-02 09:14] sladyn98 commented on #1094
So basically call the function from this test ?

[2019-10-02 15:34] oleg-nenashev commented on #280
not stale

On Wed, Oct 2, 2019 at 5:04 PM stale[bot] <notifications@github.com> wrote:

[2019-10-03 05:44] oleg-nenashev commented on #627
CC @sladyn98 who works on VS Code

[2019-10-03 09:13] #934 closed

[2019-10-03 17:38] pallam-bigfoot commented on #825
Can we use GitHub link as configuration source. I am getting the error as shown in the attached screenshot. I have established connection between this jenkins instance and our GitHub using a Personal Access Token. Can you please let me know if i am doing something wrong here.
![Screen Shot 2019-10-03 at 10 34 20 AM](https://user-images.githubusercontent.com/48227678/66150402-f863fb80-e5c9-11e9-957

[2019-10-03 17:40] pallam-bigfoot commented on #273
Can we use GitHub link as configuration source. I am getting the error as shown in the attached screenshot. I have established connection between this jenkins instance and our GitHub using a Personal Access Token. Can you please let me know if i am doing something wrong here.
![Screen Shot 2019-10-03 at 10 34 20 AM](https://user-images.githubusercontent.com/48227678/66150495-2a755d80-e5ca-11e9-97b

[2019-10-03 18:05] casz commented on #273
we do not support authentication, you could consider making your config public.

[2019-10-03 18:06] casz commented on #825
@pallam-bigfoot please don't double post

[2019-10-03 18:29] pallam-bigfoot commented on #825
Sorry about that. Removed my comment

[2019-10-03 22:19] danseo-reisys opened #1124 "adding configuration as code plugin"
### Your checklist for this issue

🚨 Please review the [Support Policy](https://github.com/jenkinsci/.github/blob/master/SUPPORT.md)

- [ ] The question was asked in the project's [Gitter chat](https://gitter.im/jenkinsci/configuration-as-code-plugin)
- [ x] Jenkins version/:  2.176.3 (image stream from redhat)
- [ x] Plugin version
- [x ] OS  : running on openshift cluster 3.11
- [ x] Reproductio

[2019-10-04 05:50] oleg-nenashev commented on #1124
If you have the admin access, you should be able to install it from the
plugin manager

On Fri, Oct 4, 2019, 00:19 danseo-reisys <notifications@github.com> wrote:

[2019-10-04 14:21] sladyn98 opened #1126 "Hosting VSCode Repository in Jenkins CI"
Hosting Checks:
- [ ] Setting up the JCasC plugin repository into the Jenkins organisation.
- [ ] Enabling Jenkins CI on it.

Ref : https://jenkins.io/doc/developer/publishing/requesting-hosting/

[2019-10-04 14:24] sladyn98 opened #1127 "JSON Schema Fetching"
The new JCasC plugin needs to be able to fetch the schema for the current Jenkins instance. We would want to be able to :

- [ ] Fetch the Schema via REST API Calls http://localhost:8080/configuration-as-code/schema

[2019-10-04 15:02] danseo-reisys commented on #1124
thanks. i was able to install using oc cli rsync.

[2019-10-04 15:03] danseo-reisys commented on #1124
now i want to use the jcasc plugin to define new sonarqube server instead of using jenkins 'configure systems' UI.  can you shed some light?  is there a way to capture groovy script from jenkins UI?

[2019-10-04 15:20] hokadiri opened #1128 "[JENKINS-59660] SCP Plugin JCasc support"
[jenkins-jira]: https://issues.jenkins-ci.org
[dashboard]: https://issues.jenkins.io/secure/Dashboard.jspa?selectPageId=18341
[contributing]: ../blob/master/docs/CONTRIBUTING.md
[compatibility]: ../blob/master/docs/COMPATIBILITY.md

### Your checklist for this issue

🚨 Please review the [guidelines for contributing][contributing] to this repository.
💡 To better understand plugin compatibility issu

[2019-10-04 15:36] timja commented on #1128
you should raise an issue on their issue tracker:
https://github.com/jenkinsci/scp-plugin/issues

[2019-10-04 18:13] casz commented on #1124
@danseo-reisys have a look in the demo folder: https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos/sonarqube

You can also configure all your plugins and than use the export feature.
https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/docs/features/configExport.md

[2019-10-05 07:30] nagavenkatakiran commented on #1037
Hi Oleg Nenashev,
I would love to contribute on this.

[2019-10-05 10:01] oleg-nenashev commented on #1037
Thanks for the interest! Just submit the pull requests, nobody is working
on it at the momentc AFAICT

On Sat, Oct 5, 2019, 09:31 NagaVenkataKiran <notifications@github.com>
wrote:

[2019-10-05 17:19] #961 closed

[2019-10-06 09:54] sladyn98 commented on #1127
Duplicated in the repo itself.Closing.
cc : @timja

[2019-10-06 09:54] #1127 closed

[2019-10-07 11:21] casz commented on #1066
file order should already be taken into account

[2019-10-07 13:07] reschex opened #1137 "gson bump in 1.31 breaks job view and other plugins"
### Your checklist for this issue

- [x] Jenkins version

- [x] Plugin version

- [x] OS

### Description

Bumping gson in plugin version 1.31 breaks the job view and some plugins, see https://issues.jenkins-ci.org/browse/JENKINS-59606 for an example.

I've tested this using the official Jenkins docker images from https://hub.docker.com/r/jenkins/jenkins/, using the 2.197 and latest tags (2.199).

[2019-10-07 13:08] casz commented on #1137
gson is removed in the unrelased master branch

@timja perhaps we should make a release?

[2019-10-07 13:11] timja commented on #1137
Sure, I can do it?

[2019-10-07 13:16] casz commented on #1137
go for it @timja

[2019-10-07 13:31] timja commented on #1137
Fixed in https://github.com/jenkinsci/configuration-as-code-plugin/releases/tag/configuration-as-code-1.32

[2019-10-07 13:31] #1137 closed

[2019-10-07 19:37] mlasevich opened #1138 "When exporting ec2 cloud provider config, missing required parameters"
### Your checklist for this issue

- [x] Jenkins version
- [x] Plugin version
- [x] OS

Jenkins Version: CCOC 2..176.4.3
Plugin Version: 1.32
OS: Amazon Linux 2(EKS)

### Description

When exporting configuration that includes `amazonEC2` cloud provider, certain required parameters are not exported if not set (even if they were previous set to blank via JCASC) - some of the parameters I experience

[2019-10-07 19:39] timja commented on #1138
this  is an issue in the ec2 plugin

[2019-10-08 01:08] mlasevich commented on #1138
Can you elaborate?

[2019-10-08 06:09] timja commented on #1138
Please report this to the the ec2 plugin

[2019-10-08 12:52] oleg-nenashev commented on #1128
I will just transfer it

[2019-10-08 20:11] lcsfreire opened #1139 "Bitbucket team/project job"
### Description

Hello,
i'm trying to configure bitbucket jobs using jcasc. I've searched but i didn't found the parameters/api/example to create a bitbucket team/project job using jcasc.
Can you please help? How can i adapt the example in this page https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/demos/jobs/bitbucket.yaml to a bitbucket team/project?
Thank you

[2019-10-08 20:54] casz commented on #1139
the demo file you linked to will generate a bitbucket team/project 😰

[2019-10-08 22:11] lcsfreire commented on #1139
so according the documentation: "Organization Folders enable Jenkins to monitor an entire GitHub Organization, or Bitbucket Team/Project and automatically create new Multibranch Pipelines for repositories which contain branches and pull requests containing a Jenkinsfile."
The example is showing how to create a organizationalFolder? How this works? i point serverUrl parameter to a url and it find a

[2019-10-08 22:16] casz commented on #1139
organizationalFolder == bitbucket team/project

You basically point to a URL and a team `repoOwner` is considered the team

[2019-10-09 17:27] mlasevich commented on #1138
Can you explain, in basic terms, what is happening there - it sounds like you have an idea. I am happy to report it to ec2 or even try to submit a PR for a fix to them, but I am trying to understand what I am looking at. I do not think me opening a bug with ec2 plugin saying nothing but "JCASC does not work" will fly - they will just tell me to file a bug with you... :-(

[2019-10-09 17:30] casz commented on #1138
They previously broke their plugin and comparability with JCasC some I am pretty sure they know what's up.

[2019-10-09 17:31] mlasevich commented on #1138
*sigh* sounds like I walked into some existing conflict :-( I will look into that.

[2019-10-09 17:31] #1138 closed

[2019-10-09 17:33] casz commented on #1138
Properly best to update to the latest version of EC2 plugin

[2019-10-09 17:43] mlasevich commented on #1138
I am running the latest from my update site (Cloudbees, 1.42.1) but looking at EC2 releases, there are several later versions, including one that fixes at least some of this. So my issue is neither with JCASC or EC2, but with Cloudbees for carrying an old plugin :-/ Thanks.

[2019-10-09 17:48] mlasevich commented on #1138
(For someone who may find this later: https://issues.jenkins-ci.org/browse/JENKINS-56684 describes the issue and it is apparently fixed in 1.44 of ec2 plugin)

[2019-10-09 18:03] timja commented on #1138
nice find, best to raise a support ticket and ask for them to update it

[2019-10-10 12:20] Smasherr commented on #928
I think that's:
[code]

[2019-10-10 12:23] timja commented on #928
Yes that's right, I misread it earlier

[2019-10-10 12:27] casz commented on #928
Already thoroughly documented: https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos/jenkins

[2019-10-10 12:54] oleg-nenashev opened #1141 "Support decrypting credentials using an external certificate"
Currently JCasC support plugin supports defining encrypted secrets on the configuration YAML. Configuration example:

[code]

Encryption is done using the Jenkins-internal secret key which is unique for every Jenkins instance. It means that the credentials are not portable between instances. It also creates obstacles for immutable images which start with a fresh Jenkins instance and initially do n

[2019-10-10 13:02] timja commented on #928
Probably not the most discoverable though, I didn't find it when I wanted it at first, but the easiest way is just to configure it in the UI and export it

[2019-10-10 13:05] asiekkowa opened #1142 "Missing key fields"
### Your checklist for this issue

- [x ] Jenkins version
Jenkins ver. 2.192
- [x ] Plugin version
1.29
- [ x] OS
docker image: jenkins/jenkins:2.192-slim

### Description
Plugin does not save all required information.
Examples:
1.
https://wiki.jenkins-ci.org/display/JENKINS/Kubernetes+Plugin version 1.18.3
![image](https://user-images.githubusercontent.com/22298133/66570806-97f73000-eb6e-11e9-98b

[2019-10-10 14:37] Smasherr commented on #1037
@nagavenkatakiran are you working on this?

[2019-10-10 16:14] Smasherr commented on #1037
Sure, no hurry, I just wanted to know if work is really in progress

[2019-10-10 21:26] daverod24 opened #1145 "need help for jobdsl setup reference path files"
### Your checklist for this issue

🚨 Please review the [Support Policy](https://github.com/jenkinsci/.github/blob/master/SUPPORT.md)

- [x] The question was asked in the project's [Gitter chat](https://gitter.im/jenkinsci/configuration-as-code-plugin)
  **Yes**
- [x] Jenkins version
  **jenkins_version: "2.190.1"**
- [x] Plugin version
  **1.32**
- [x] OS
  **Centos 7.6**
- [x] Reproduction steps

[2019-10-11 06:29] reinholdfuereder commented on #536
It seems that after updating JCasC plugin from 1.31 to 1.32 a similar warning appears during Jenkins startup that was not there before:
`2019-10-10 14:56:50.519+0000 [id=119]   WARNING i.j.p.casc.BaseConfigurator#createAttribute: Can't handle class javaposse.jobdsl.plugin.GlobalJobDslSecurityConfiguration#metaClass: type is abstract but not Describable.`

(Job DSL plugin is installed in version 1.

[2019-10-11 06:50] timja commented on #536
It will be nothing to do with the plugin update, it's just caused by exporting the configuration  or viewing the reference docs

[2019-10-11 08:51] oleg-nenashev opened #1146 "Move "Run Locally", "IntellijIDEA" and "CLI" sections to contributor guidelines"
These sections of REAME do not seem to address user use-cases. I suggest moving them to https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/docs/CONTRIBUTING.md

* https://github.com/jenkinsci/configuration-as-code-plugin#run-locally
* https://github.com/jenkinsci/configuration-as-code-plugin#intellij-idea
* https://github.com/jenkinsci/configuration-as-code-plugin#cli

It would

[2019-10-11 09:02] oleg-nenashev opened #1147 "Add readme to the /demos directory"
It would be great to have a separate document for the Readme section which would include...

* Short overview of demos for users
  * How to use them?
  * Disclaimer that demos may not be applicable to all plugin versions
* "Adding new demos" section for contributors
  * How to submit a demo, which information to add?
  * How to add a demos to the integration test suite (thanks @v1v!)

[2019-10-11 09:05] balajipachai commented on #1146
Hi, please look into #1148

Thanks,
Balaji Shetty Pachai

[2019-10-11 09:09] oleg-nenashev opened #1149 "Invert the LDAP example on the README page so that the YAML goes first"
Currently the plugin site and other pages display a Web UI configuration screenshot for a plugin which is supposed to be about JCaaC. It would be great to have a YAML configuration snippet as a first item, and LDAP screenshot can be added as "was" example later, maybe even in a section which is collapsed by default

[2019-10-11 09:22] oleg-nenashev opened #1150 "Move "Trigger Configuration Reload" to a new feature page"
Once #1143 is merged, there will be a new documentation section. Then we can move this section from README to a feature page.

* Documentation is moved to a new page under https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/docs/features
* A lin and former section link anchor are added to the Documentation section of README

[2019-10-11 09:44] oleg-nenashev commented on #1142
Please reports separate JCasC compatibility issues to the respective plugins.

[2019-10-11 09:44] oleg-nenashev commented on #1142
FTR https://wiki.jenkins.io/display/JENKINS/Plugins+compatibility+with+Jenkins+Configuration-as-Code+plugin#PluginscompatibilitywithJenkinsConfiguration-as-Codeplugin-Reportingissues

[2019-10-11 11:00] kevin0x90 commented on #542
HI,

i would like to work on this.

[2019-10-11 11:01] timja commented on #542
Sure, ask any questions here and just send a PR

[2019-10-11 11:08] reinholdfuereder commented on #536
@timja that sounds reasonable; the weird thing is that it looks like it started when I was viewing the current JCasC configuration, but/and it is since then always logged during Jenkins restart as well...

[2019-10-11 13:06] #1146 closed

[2019-10-11 13:08] asiekkowa opened #1154 "error when using secret files"
### Your checklist for this issue

[x] Jenkins version
Jenkins ver. 2.199
[x] Plugin version
1.32
[x] OS
docker image: jenkins/jenkins:2.199-slim

### Description

Please describe your issue here.
Below error occurs when using credentials kind= secret file.
![image](https://user-images.githubusercontent.com/22298133/66653666-d5c08b00-ec38-11e9-99fd-3fd80f06b059.png)

[2019-10-11 13:58] asiekkowa commented on #1142
I have checked that problem is with 'configuration-as-code-plugin' - it **does not save the empty fields**. (And if such fields are not set by CasC plugin, kubernetes plugin takes default values.)

But when I added manually required values (args ans command),
[code]
kubernetes-plugin works perfectly.

[2019-10-11 14:30] oleg-nenashev commented on #257
Is it fixed now @v1v ?

[2019-10-11 15:04] casz commented on #1154
This is actually a bug in the credential API same exist for certificate 😭

[2019-10-11 15:04] casz commented on #1142
This is not a bug in configuration as code. This is a bug in the plugin. They are not handling data bindings correctly.

[2019-10-11 15:09] timja commented on #1154
We don't put null constraints on the API here:
https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/plugin/src/main/java/io/jenkins/plugins/casc/BaseConfigurator.java#L146

Obviously we aren't expecting null but I think we should either handle it, or explicitly mark it in the API?
https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/plugin/src/main/java/io/jenkins

[2019-10-11 15:09] casz commented on #1154
Looking at the code
https://github.com/jenkinsci/sonar-quality-gates-plugin/blob/b87a0987c2b91ef63f5c6dd0f7a6839e341b3584/src/main/java/org/quality/gates/jenkins/plugin/GlobalConfig.java#L49

They are manually passing JSON data, this does not following coding standards setup by Jenkins plugin development.

See this for reference
https://github.com/jenkinsci/configuration-as-code-plugin/blob/master

[2019-10-11 15:10] casz commented on #1142
Looking at the code
https://github.com/jenkinsci/sonar-quality-gates-plugin/blob/b87a0987c2b91ef63f5c6dd0f7a6839e341b3584/src/main/java/org/quality/gates/jenkins/plugin/GlobalConfig.java#L49

They are manually passing JSON data, this does not following coding standards setup by Jenkins plugin development.

See this for reference
https://github.com/jenkinsci/configuration-as-code-plugin/blob/master

[2019-10-11 15:13] casz commented on #1154
Well the credential has it only configurator so 🤷‍♂

[2019-10-11 15:30] timja commented on #1154
Which extends `BaseConfigurator` and it has a poor API contract defined

[2019-10-11 17:31] lunodesouza commented on #1150
I will solve this issue.

[2019-10-11 19:30] wpater commented on #1149
I'll do it.

[2019-10-11 19:41] wpater commented on #1147
I'm working on this one.

[2019-10-11 21:42] oleg-nenashev commented on #1141
@timja @jonbrohauge This is what we were talking about on Oct at the end of the meeting

[2019-10-12 15:02] marcelaraujo opened #1159 "How to configure sonarqube plugin?"
### Your checklist for this issue

- [X] Jenkins 1.299
- [X] Plugin 1.32
- [X] OS Linux

### Description

Jenkins stop running after update Jasc plugin from 1.30 to 1.32

[code]

Where should I put `home` property?

My Sonar Installation block is this

[code]

Thanks guys

[2019-10-12 17:00] dilip-desing opened #1161 "[jobdsl] using repoOwner and configure block creates two organizations"
I'm facing exactly the same issue as below link:
https://issues.jenkins-ci.org/browse/JENKINS-54456?attachmentViewMode=list
I'm also using the similar code mentioned in the above link.

"When combining the organizations & configure blocks the result  creates two Organizations"
There is no solutions suggested for this so far. any help would be appreciated.

[2019-10-12 18:04] #760 closed

[2019-10-14 06:19] timja commented on #1159
I believe it's this:
[code]

There's a PR to fix it here though:
https://github.com/SonarSource/sonar-scanner-jenkins/pull/124

[2019-10-14 06:19] #1159 closed

[2019-10-14 06:20] timja commented on #1161
I don't really understand what you are doing, but this works for me:
https://github.com/hmcts/cnp-jenkins-config/blob/master/jobdsl/organisations.groovy

[2019-10-14 12:07] aheritier opened #1162 "Mapping#putIfNotEmpry"
### Description

- [ ] Please mark the incorrectly spelled method `putIfNotEmpry` deprecated
- [ ] add new method called `putIfNotEmpty`
- [ ] old method should call new method (to avoid duplication)
- [ ] add a javadoc for old method to suggest use new method instead. (See [howto](https://stackoverflow.com/a/9031854/1103925))

The problem with IDEs is that everyone is using the autocompletion and

[2019-10-14 12:18] casz commented on #1162
Good candidate for hacktoberfest to fix the spelling.

[2019-10-14 12:25] bojanfilipovic commented on #1162
Hi! Can I pick this up as part of the hacktoberfest?

[2019-10-14 12:26] casz commented on #1162
@bojanfilipovic Please go ahead, please check the [CONTRIBUTING](https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/docs/CONTRIBUTING.md)

[2019-10-14 19:26] #1162 closed

[2019-10-14 21:30] briceburg opened #1167 "setting system credentials clobbers existing manually configured credentials"
## installation

Ubuntu Bionic Linux running:
  * casc: 1.3.2
  * jenkins:  2.190.1

## summary

CasC replaces credentials.xml instead of augmenting it, removing any system credentials that may have been manually added via the UI.

## description

our environment is dockerized (jenkins:lts) and the jenkins home directory (outside of some exclusions) is backed up to s3 periodically to persist any c

[2019-10-14 21:34] casz commented on #1167
This is not a bug, this is the intended behavior.

Question is why are not all your secrets/credentials coming from one of the supported secret sources?

https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/docs/features/secrets.adoc#secret-sources

[2019-10-14 21:53] briceburg commented on #1167
I see. For the credentials that casc configures, we are using docker
secrets to populate. I consider these are 'core' credentials.

Our users, however, evolve the instances by  creating additional jobs, some
of which use custom credentials our [admin] users enter ma ually. As such
not everything is tracked in casc, as we require the manual flexibility ...

Would the recommendation be to remove cre

[2019-10-15 05:33] runzexia commented on #1026
I think I may have encountered this problem.
I use the casc and groovy script to initialize jenkins .
In the case of the exact same configuration, some jenkins casc configuration is not loaded correctly, I confirmed by config.xml
Is there any way to avoid this now? Avoid calling Jenkins.save in a groovy script?

@jtnord @obreitenbach

 Jenkins version (any / 2.176.2)

 Plugin version (any / 1.27)

[2019-10-15 06:07] timja commented on #1167
The recommendation is don’t give your admins access to add the credentials manually.

Get them to add them through your automation, then if you ever rebuild it your credentials will be there

[2019-10-15 10:52] Kanshiroron opened #1168 "/reload-configuration-as-code/?casc-reload-token returns a 500 when config contains a amazonEC2 section (but /configuration-as-code/reload does not)"
Hello,
I have a Jenkins deployed in Kubernetes, using the official Docker image. I'm trying to set up a workflow where configuration is automatically reloaded when changes have been pushed to our Jenkins configuration repository. According to the documentation setting `casc.reload.token` as a system property should enable it the ability to reload configuration calling the `/reload-configuration-as

[2019-10-15 11:53] oleg-nenashev commented on #1026
FTR there is a fix applied in the recent weekly.
https://jenkins.io/changelog/#v2.199

On Tue, Oct 15, 2019, 07:33 runzexia <notifications@github.com> wrote:

[2019-10-15 11:54] oleg-nenashev commented on #1026
This is a partial fix, we still need wider architecture changes to make
JCasC more stable

On Tue, Oct 15, 2019, 13:55 Oleg Nenashev <o.v.nenashev@gmail.com> wrote:

[2019-10-15 11:59] runzexia commented on #1026
@oleg-nenashev
I am not sure if my situation is related to this issue, I just want to confirm it.

I use the casc and groovy script to initialize jenkins .
In the case of the exact same configuration, sometimes casc configuration is not loaded correctly, I confirmed by config.xml
Is there any way to avoid this now? Avoid calling Jenkins.save in a groovy script?
Jenkins version (any / 2.176.2)
Plug

[2019-10-15 12:18] waveywaves commented on #273
I would like to start working on this. Any way this can be assigned to me. Would like to do this as part of hacktoberfest.

[2019-10-15 13:15] briceburg commented on #1167
@timja  that would be ideal. the way we have things setup would require a redeployment to pickup on updated CasC. The yaml is baked into the image and not loaded dynamically. So, for instance, if the instance gets rebooted the creds would be missing.

I may need to re-architect things... and it's hard to do in my spare time. it sure would be nice if the CasC plugin could enforce the existence of c

[2019-10-15 13:35] casz commented on #1167
@briceburg this is not JCasC doing, it's how the code is implemented over at the credential plugin :) Although the code used to live here in JCasC

[2019-10-15 18:43] jtnord commented on #1026
I wouldn't recommend configuring Jenkins with both groovy init scripts and casc. why do you need to do that?

[2019-10-16 03:01] runzexia commented on #1026
@jtnord There are some reasons why I can't use casc all.
Mainly related to role-strategy, in my organization will use REST api to add and assign roles, and casc configuration role strategy will cause these to be overwritten after reboot

I also know now that it is best to use only one way to initialize, I think we should add some documentation to the user.
By the way, is it possible to judge wheth

[2019-10-16 04:58] runzexia commented on #1026
@jtnord
I looked at the Jenkins code `init groovy hook` and `casc` are in different init stages, they should not interfere with each other? Maybe other configuration loads caused the problem?

https://github.com/jenkinsci/configuration-as-code-plugin/blob/94a2a73095a290ed2cb92b7ace5bf3afbd64b1ba/plugin/src/main/java/io/jenkins/plugins/casc/ConfigurationAsCode.java#L269
https://github.com/jenkinsci

[2019-10-16 09:56] reinholdfuereder commented on #536
New Jenkins Lockable Resources plugin release v2.6 thankfully also supports JCasC now =>
[code]

By the way: Is adding such comments helpful at all (to you/anyone)? Or is it just feeling like unnecessary spam?

[2019-10-16 10:10] timja commented on #536
Useful for whomever finds the time to look at it.

[2019-10-16 10:19] jtnord commented on #1026
correct.

depending on what configuration you are loosing you may just be hitting this race condition that, or there could be other plugins trying to save some jenkins config during startup.  given (mostly) jcasc would be trying to set the configuration that is already on disk on restart I would be surprised you are loosing things (I would expect more a situation where new updates do not get corre

[2019-10-16 18:04] bkmeneguello opened #1170 "Possible NPE when DataBound Object attribute is not Describable"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version
2.200
- [x] Plugin version
1.32
- [x] OS
Linux

### Description

The [DataBoundConfigurator#describe](https://github.com/jenkinsci/configuration-as-code-plugin/blob/b875f2b8097bde42cd1cfb095068525200ef9d5b/plugin/src/main/java/io/jenki

[2019-10-16 21:14] casz commented on #1170
Thanks for the thorough description.

Are you up for contributing a fix :)

[2019-10-16 21:21] casz commented on #1170
I wonder if the plugin should stop using a non describable field with the type `FileItem` cc @jglick

[2019-10-16 21:27] casz commented on #1145
How are you running Jenkins? In Docker?

What's the path to your JCasC configuration file?

if you use Paths they have to be relative to where Jenkins process is running.

[2019-10-16 22:50] bkmeneguello commented on #1170
What should be the correct behaviour when an attribute cannot be serialized? It should be ignored or should be generated a placeholder informative value?

[2019-10-16 23:03] casz commented on #1170
Hmm best effort may be to log that the field is not exportable and should be reported to given plugin.

We should be able to log to administrator monitor for more visibility too?
Then still export other fields? Although admittedly for FileCredential that would not work.

I believe FileCredential needs a fix.

[2019-10-17 03:10] runzexia opened #1171 "Casc configuration is not loaded correctly at startup"
ref https://github.com/jenkinsci/configuration-as-code-plugin/issues/1026
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version (2.176.2)

- [x] Plugin version (1.27)

- [x] OS (docker)

- [x] plugin list

[code]

casc config:
https://github.com/kubesphere/ks-installer/blob/master/roles/k

[2019-10-17 06:04] daverod24 commented on #1145
I am installing it directly with ansible on the host.

jenkins_home is in "/opt/jenkins"

I tried to put several paths for example

[code]

and nothing gives me an oops error in jenkins

thanks in advance for your help

[2019-10-18 06:52] runzexia commented on #1171
https://github.com/kubesphere/ks-installer/pull/299/files
As a workaround, I load casc again in the groovy hook

[2019-10-18 06:53] runzexia commented on #1026
https://github.com/kubesphere/ks-installer/pull/299/files
As a workaround, I load casc again in the groovy hook

[2019-10-18 07:45] #1059 closed

[2019-10-18 07:49] timja commented on #1147
Fixed in #1157

[2019-10-18 07:49] #1147 closed

[2019-10-18 09:34] chroche commented on #81
I'd really like to see that feature implemented too.

To clarify, there is an official list of Jenkins features controlled by system properties [here](https://wiki.jenkins.io/display/JENKINS/Features+controlled+by+system+properties).

Some values like `hudson.TcpSlaveAgentListener.hostName` are required for configuring a server/agent setup but cannot be set any other way than with a `init.grovy.d`

[2019-10-18 21:36] samitkumarpatel opened #1173 "if secret file configured on Jenkins Credential - view configuration is throwing error"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [ 2.190.1] Jenkins version

- [1.32 ] Plugin version

- [MacOS ] OS

### Description
After adding a secret file on Jenkins credential, the view configuration for configuration-as-code-plugin is throwing an error in the Jenkins log and showing the same err

[2019-10-18 21:58] casz commented on #1173
Duplicate of #1170

[2019-10-18 21:58] #1173 closed

[2019-10-20 11:09] samitkumarpatel commented on #1173
Thanks, will  follow - #1170

[2019-10-21 07:47] casz commented on #959
I may have a solution to the problem 😓

YamlSource needs to implement close able.

[2019-10-21 10:53] oleg-nenashev commented on #809
https://github.com/jenkinsci/login-theme-plugin/pull/3

[2019-10-23 12:26] frank273 opened #1184 "unable to deactivate CSRF via JCasC"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [X] Jenkins version 2.190.1+

- [X] Plugin version 1.32

- [ ] OS

### Description

With Jenkins configuration as code you can enable CSRF protection in Jenkins via specifying:
[code]
Problem is, there is no switch you could set to 'false' or disabled to

[2019-10-24 21:34] dineshdh opened #1185 "Error getting ssm secret"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [X] Jenkins version 2.190.1

- [X] Plugin version

configuration-as-code:1.30
configuration-as-code-secret-ssm:1.0.0

- [X] OS centos (Dockerfile-centos)

### Description

Unable to set credentials

[code]

Error message
[code]

[2019-10-25 07:00] timja commented on #1185
Doesn't this belong to this plugin?
https://github.com/jenkinsci/configuration-as-code-secret-ssm-plugin

[2019-10-27 08:00] dineshdh commented on #1185
@timja yes, but I can't create an issue in that project

[2019-10-27 09:36] casz commented on #1185
https://wiki.jenkins.io/display/JENKINS/How+to+report+an+issue
The project uses JIRA, so please report the issue over at https://issues.jenkins-ci.org and use the component: configuration-as-code-secret-ssm-plugin

In any case did you read the error message and try a different token?
[code]

[2019-10-28 11:04] oleg-nenashev opened #1188 "JCasC Documentation Export fails with NPE"
[code]

### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [ ] Jenkins version: 2.190.1
- [ ] Plugin version: 1.32
- [ ] OS: N/A

### Description

Export fails with NPE exception in the Jenkins core

[2019-10-28 11:23] oleg-nenashev commented on #1188
Log

[code]

[2019-10-28 14:45] terrdry opened #1189 "Parsing issues with JCasC and"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x ] Jenkins version
2.190.1

- [x] Plugin version
Credentials Plugin - 2.3.0 and Configuration as Code - 1.32

- [x] OS
Linux

### Description

I'm am trying to execute the following fragment in my JCasC script
[code]

 When I insert my private key in PE

[2019-10-28 15:00] casz commented on #1189
This works just fine, your certificate should have a final new line.

[2019-10-28 18:53] terrdry commented on #1189
Hi Caz,
Thanks for getting back so quickly;

I tried the following based on your comments:

This does not work:!!!
[code]
But this does!
[code]
I'm setting the Private Key just fine; It's the extra CR/LFs that you need to insert to make it work. Are you not seeing this behaviour on your installation?

[2019-10-28 19:29] webminster opened #1191 "Is "Strict Crumb Issuer" supported?"
our checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version
2.190.2

- [ x] Plugin version
1.32

- [ x] OS
Docker container jenkins/jenkins:lts

### Description

Is the "strict crumb issuer" supported in some way?  If I try to set crumbIssuer: "strict" in my configuration, it causes multiple problem

[2019-10-28 20:24] casz commented on #1189
Again depends how you pass it 😓

We use vault where we pass `\n` for new neline as shown in the file when generated.
The other ways I have seen it work is to use yaml `literal block`

[code]

[2019-10-29 18:19] terrdry commented on #1189
Tried it the above way and it worked; I guess it's all in how you pass it.
Thanks for checking.
Running the groovy fragment is a great way to tell if you're doing it right.

Laters!

[2019-10-29 19:54] cwiggs commented on #537
Has this actually been fixed?  I followed the example in [JENKINS-57563](https://issues.jenkins-ci.org/browse/JENKINS-57563) but I get the same results that @ewelinawilkosz reported to begin with; JCasC applies correctly but the settings don't actually seem to be applied in the scriptApproval page.

[2019-10-29 20:09] casz commented on #537
@cwiggs you did not mention the version of Script Security, so did you update Script Security?
Required 1.64 of Script security.

[2019-10-29 20:14] cwiggs commented on #537
Yes, I'm running:

Jenkins 2.164.2
script-security 1.66
JCasC 1.32

[2019-10-29 20:22] cwiggs commented on #537
I actually noticed some odd behavior with the scriptApproval setting.

Here is my JCasC security config:
[code]

When I apply this config and cat out `/var/jenkins_home/scriptApproval.xml` It seems to show up correctly:

[code]

However the GUI does not reflect these changes.  When I run the job that uses these signatures the job fails saying the signatures are not approved.  After that If I cat o

[2019-10-29 20:25] casz commented on #537
Feel free to report in the right please https://issues.jenkins-ci.org using the component `script-security-plugin`

[2019-10-29 20:32] daverod24 commented on #1184
Good estimates

I have this problem activating CSRF Protection in the latest LTS version
Centos 7.7
Jenkins version. 2,190.1 (installed by yum, not in container)
 
I get the crumb
[code]

and then I pass it with the operation that I want to perform
[code]

this is the way out
[code]

I would like to know what state this is or what is the new way of working with the API to launch groovy scripts

Th

[2019-10-29 20:42] daverod24 commented on #1145
this is the service that jenkins raises

[code]

The daemon file is the one that comes by default when the rpm is installed by yum and I only add the jcasc env

[code]

What I can do?

[2019-10-29 20:52] casz commented on #1145
So whatever `$JENKINS_HOME` is set to should be the correct place to save the files to.
What UID and GID is running the service?
Does the service running Jenkins own these groovy files?

[2019-10-30 08:56] #959 closed

[2019-10-31 19:56] rmmacala commented on #876
I am also seeing this behavior. If I reapply the existing config the job will queue, but it doesn't queue on start up.

[code]

[2019-11-01 14:13] rmmacala commented on #876
Well I may have found a workaround that works for me. Using startup-trigger-plugin:2.9.3 and adding a trigger to my pipeline I was able to get the job to start on start up. There are still issues with trying to queue the job with  - script: queue('unit-tests').

[code]

[2019-11-05 08:48] LinuxSuRen opened #1194 "Add YAML merge strategy to meet different use cases"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [ ] Link to any upstream changes that might be required (for example Jenkins Core pull request)

### Feature Request

It will throw an exception if there's a merge conflict now. It's better if this behavior can be choose by the end-user. We can consider s

[2019-11-05 08:49] LinuxSuRen commented on #1194
I'd like to do it. If you have any ideas about this feature, please let me know.

[2019-11-05 09:01] timja commented on #1194
Snakeyaml merge docs are here:
https://bitbucket.org/asomov/snakeyaml/wiki/Documentation

[2019-11-06 01:25] LinuxSuRen commented on #9
Looking forward to this feature.

[2019-11-06 01:39] LinuxSuRen commented on #994
@csharmath can you confirm jenkinsci/oic-auth-plugin#78 fixed this issue?

[2019-11-06 15:21] lmmc commented on #1168
Having a similar issue:

HTTP/1.1 500 Server Error

[code]

[2019-11-06 16:02] lmmc commented on #1168
Found the issue, it was Authorize Project plugin.  After removal, it started to work again.

[2019-11-06 16:39] daverod24 commented on #1145
is running with the uid and gid of the user and jenkins group.
  the question is that in the jenkins_home you don't see the path that I am passing from each job

[code]

He is not reading them and I can't find a solution. Could you help me a little more?
Thanks in advance

[2019-11-06 16:44] casz commented on #1145
Not sure I can help. It sounds like file permissions issue.
We have unit tests that confirm job dsl file is working 🤔

[2019-11-06 16:51] daverod24 commented on #1145
OK one question
The job files the path is from the $ JENKINS_HOME. please can you give me an example of how it should be in folder permitting topics and if it's ok as I'm calling the .groovy files

[2019-11-07 02:03] LinuxSuRen commented on #1194
@timja Thanks for providing the tech information. I'm thinking about the design details. Once I finished the design, I'll start it.

[2019-11-11 21:41] daverod24 commented on #1145
Hello how are you
  I already managed to make it work effectively, it was a permit issue that I don't understand why my permissions were changed at that point and the other is to point the files to the folder in
[code]
run
[code]
probe and it worked
thanks for the help excuse me so much annoyance

[2019-11-11 21:41] #1145 closed

[2019-11-12 09:41] timja commented on #1168
@Kanshiroron
[code]

That looks it's failing to reload your configuration

I've just tested this feature and it's working fine for me

[2019-11-12 19:15] #949 closed

[2019-11-13 16:08] Kanshiroron commented on #1168
@timja Thank you for your answer.
I'm still facing a 500, however when the server starts it doesn't complain about the configuration, and same thing if I manually click on the `Reload existing configuration` button on the `Management > Configuration as Code` menu. So the error seems to only happen when sending the cURL request.

I indeed do think the error is not coming from the token but from the

[2019-11-13 16:24] Kanshiroron commented on #1168
After changing the configuration to add those missing parameters (`slaveCommandPrefix` & `slaveCommandSuffix`), the error has slightly changed, but no longer make any sense to me since the argument types seems to be correct...
[code]
:thinking:

[2019-11-13 19:57] timja commented on #1168
What did you set for the other values? what's the full  config now?

[2019-11-14 10:57] Kanshiroron commented on #1168
@timja
Here is my config now:
[code]
The AMI template is repeated multiple times (for each AZ).
I also tried to set `slaveCommandSuffix` to a 'random' string value but that didn't change anything.
Thanks for your help

[2019-11-14 12:01] quilicicf commented on #928
Got it working!

[2019-11-14 12:01] #928 closed

[2019-11-18 08:18] #983 closed

[2019-11-18 18:18] escoem opened #1202 "Remove restriction from ConfigurationAsCode to be able to reload/dump configuration from another plugin"
### Feature Request

Make JcasC ConfigurationAsCode not restricted in order to be able to reload/dump configuration automatically from another plugin.

[2019-11-18 19:33] casz commented on #1202
I am pretty sure this is an use case we would not support.

[2019-11-18 19:35] casz commented on #1202
I'd like to understand your use case and why you cannot add the feature to this plugin?

[2019-11-19 03:10] runzexia commented on #1026
[code]

I tried to use the weekly version to find out the problem. it looks like casc called instance.save

[2019-11-19 10:53] amuniz commented on #1202
We are using JCasC in a proprietary extension. This extension [uses other proprietary features](https://docs.cloudbees.com/docs/admin-resources/latest/plugin-management/configuring-plugin-catalogs). From that extension we need to reload the configuration when needed and also export the current config.

We are _decorating_ the normal export with additional data. I think it's a pretty common use cas

[2019-11-19 10:57] casz commented on #1202
My honest opinion I would hate to support this proprietary feature. Why can you not help improve configuration as code?

[2019-11-19 11:51] amuniz commented on #1202
Really? Do you think we (CloudBees) are not helping improve JCasC?

That's ok for me too, as long as an extension point without an OSS implementation is ok for you too!
I think the impact (and maintenance burden) of making a method public API is immensely smaller than making the export feature extensible.

[2019-11-19 12:00] casz commented on #1202
I do not doubt that your helping. My stab was at the effort to continue working on a proprietary feature over fixing issues in JCasC and Jenkins core.

[2019-11-19 12:11] casz commented on #1202
FYI I am also fine with the current state of #1203

[2019-11-20 11:57] jr00n commented on #205
Same problem...escaping is not working yet... @casz any idea?

`pipeline {
  agent {
    kubernetes {
      yaml """
kind: Pod
metadata:
  name: jenkins-agent
spec:
  containers:
    - image: "docker-registry.default.svc:5000/public/jenkins-agent-nodejs-10:production"
      args: ^${computer.jnlpmac} ^${computer.name}
      tty: false
      imagePullPolicy: Always
`

[2019-11-20 12:15] casz commented on #205
You need to use quoting and escaping

So `args: "^${computer.jnlpmac} ^${computer.name}"`

[2019-11-22 13:32] timja opened #1206 "Plugin site docs currently empty"
ref: https://plugins.jenkins.io/configuration-as-code

![image](https://user-images.githubusercontent.com/21194782/69429942-95225a00-0d2c-11ea-8833-44ae1949f98d.png)

_Originally posted by @jtnord in https://github.com/jenkinsci/configuration-as-code-plugin/pull/1204_

[2019-11-22 13:52] olivergondza commented on #280
Thinking of the idea of separate milestone in context of JENKINS-58993:

The problem I see is [Jenkins#loadConfig()](https://github.com/jenkinsci/jenkins/blob/eedf2a4e2a25f5883d828f22c2429ceebe2bd157/core/src/main/java/jenkins/model/Jenkins.java#L3201) attains `JOB_LOADED`, which we would like to rectify as well I guess. If for nothing else, just to make sure it does not run after jcasc initialize

[2019-11-22 14:10] oleg-nenashev commented on #1206
https://github.com/jenkinsci/configuration-as-code-plugin/commit/daefe4e933c5dd22cbb2918e85d38842bae8c71d#diff-d595a8236f587264b34d376cb6831780 @timja

[2019-11-22 14:18] #1206 closed

[2019-11-22 15:22] BrianSidebotham opened #1208 "Credentials cannot be configured on fresh install"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version

- [x] Plugin version

- [x] OS

### Description

configuration-as-code plugin fails to install using the `jenkins-cli` after the credentials plugin has been installed.

os version: CentOS 7

jenkins version: 2.205-1.1 from http://pkg.

[2019-11-22 15:24] casz commented on #1208
You haven't installed credentials plugin

[2019-11-22 15:26] casz commented on #1208
Or plugin isn't activated

[2019-11-22 15:27] BrianSidebotham commented on #1208
Yes I have. That's why I've put the credentials plugin version above. All done through the `jenkins-cli`.

`java -jar jenkins-cli.jar -s http://localhost:8080 -http -auth userName:userPassword install-plugin credentials -deploy -restart`

[2019-11-22 15:33] BrianSidebotham commented on #1208
A complete list is available:

[code]

[2019-11-22 15:33] casz commented on #1208
Clearly your going through a odd code path... Through the update center.

Please pre install plugins before attempting to use JCasC

[2019-11-22 16:07] BrianSidebotham commented on #1208
Do you mean manually pre-install plugins - because I am pre-installing the plugins before attempting to use JCasC. It's just that they're installed via the `jenkins-cli`.

[2019-11-23 21:56] lcsfreire commented on #1191
Hello,
i got same problem. When loading configuration as code with crumbIssuer: "strict" i can't modify security parameters, i can't see the jcasc conf, sealed secrets issues, etc,  however, if i load jenkins as code with standard crumb and inside jenkins web interface i change to "strict" i don't have any issue. I've compared the xml files modified after change crumbissuer from standard to strict

[2019-11-25 18:11] #1202 closed

[2019-11-25 18:37] casz commented on #81
The problem with #81 is you would have another chicken and egg problem 😭

[2019-11-25 18:38] casz commented on #81
The problem with #1204 is you would have another chicken and egg problem 😭

[2019-11-25 19:31] jtnord commented on #81
as mentioned in #1204 system properties need to be set much earlier than configuration as Jenkins and/or plugins can change behaviour based on them and they are not expected to change post initialisation.

[2019-11-25 20:33] timja commented on #81
I assume you would run it as the very first configurator, possibly even in an earlier initialiser?

[2019-11-26 09:51] usamaahmadkhan opened #1210 "Jenkins failed to start with oic configurations"
🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version 2.190

- [x] Plugin version 1.27 (same error with 1.30, 1.33)

- [x] OS Openshift RHEL 7.6

### Description
Jenkins fails to start with JCasC plugin.
Here is the StackTrace:
[code]
Please describe your issue here.
 I'm using [public helm chart](https://github.com/helm/c

[2019-11-26 09:53] casz commented on #1210
Your missing the plugin?

[2019-11-26 10:23] usamaahmadkhan commented on #1210
the plugin is installed.

[2019-11-26 10:33] timja commented on #1210
It won't have it's own root  configurator, you're missing the top section,
probably `security`  otherwise  `unclassified`

[2019-11-26 10:45] BrianSidebotham commented on #1208
This problem was one of ordering - I already had the `jenkins.yaml` configuration in place when installing JCasC via the command line and this doesn't work. If I install JCasC via the command line without the YAML in place and then put `jenkins.yaml` in place and retstart Jenkins everything gets configured correctly. :+1:

[2019-11-26 11:02] Kanshiroron commented on #1168
Hey @timja, do you confirm this is a bug?
Thanks

[2019-11-26 11:12] timja commented on #1168
No, reloading is working fine you have an issue configuring the amazon ec2 plugin

[2019-11-26 11:22] Kanshiroron commented on #1168
@timja
I agree the error is linked to the EC2 module however, I don't understand why I don't see any error when I start when Jenkins starts, and also why I do not face this error when I manually push the `Reload existing configuration` button from the WebUI (which calls the `/configuration-as-code/reload` endpoint).
Also, my EC2 configuration seems to be working fine since Jenkins is able to build

[2019-11-26 11:27] usamaahmadkhan commented on #1210
Tried with security and unclassified but both do not provide support for oic and I cannot find any relevant demo configs here: https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos
Can someone plz point me towards oic sample config?

[2019-11-26 14:04] ZeBidule opened #1211 "Error when applying the job DSL configuration extracted from your bitbucket example"
- Jenkins version : 2.190.3
- Plugins versions
   - ace-editor:1.1
   - analysis-core:1.96
   - ansicolor:0.6.2
   - ant:1.10
   - antisamy-markup-formatter:1.6
   - apache-httpcomponents-client-4-api:4.5.10-2.0
   - artifactory:3.4.1
   - authentication-tokens:1.3
   - aws-credentials:1.28
   - aws-java-sdk:1.11.670
   - basic-branch-build-strategies:1.3.2
   - bitbucket:1.1.11
   - blueocean-aut

[2019-11-26 14:12] casz commented on #1211
Don't use `>` it becomes one long script.
Use `|` a literal block

[2019-11-26 14:13] casz commented on #1211
Also this seems like more of a Job DSL issue 😓

[2019-11-26 14:15] casz commented on #1211
I'd suggest using `file` or `url` block instead

jobs:
  - file: /src/jobdsl/organisations.groovy

[2019-11-26 14:34] ZeBidule commented on #1211
OK thanks for your really quick answers :)

[2019-11-26 14:35] ZeBidule commented on #1211
I have tried the both solutions and i still have the same error :
[code]

[2019-11-26 14:35] Kanshiroron commented on #1168
@timja Here you can find a minimal config with which you can reproduce this issue. It contains the `jenkins.yml` file and a script to launch the docker (Jenkins `v2.204`) and a script that contains the cURL command to ease testing. You will have to install the EC2 & casc plugins yourself.

[jenkins_config.tar.gz](https://github.com/jenkinsci/configuration-as-code-plugin/files/3892299/jenkins_confi

[2019-11-26 14:42] casz commented on #1211
Downgrade cloudbees-bitbucket-branch-source to something before 2.6.0 😓

[2019-11-26 14:45] ZeBidule commented on #1211
OK, i try the downgrade...

I manage to avoid the error by removing the `traits` section and replacing it with the none declarative-compatible syntax but I doesn't work for the `recursiveSubmodules` option :
[code]

[2019-11-26 15:04] ZeBidule commented on #1211
Ok the declarative-compatible traits syntax works with cloudbees-bitbucket-branch-source version 2.5.0 so the regression appeared in version 2.6.0.
Sorry for the inconvenience, I just figure out that an issue was already created in their repository : [https://github.com/jenkinsci/bitbucket-branch-source-plugin/issues/258](https://github.com/jenkinsci/bitbucket-branch-source-plugin/issues/258)

[2019-11-28 07:22] daverod24 commented on #1189
I have more or less the same error when I do it manually it works for me and when I pass it through a variable that I set as a fact and it gives me an error

I am loading a template with jinja2 to modularize
I put that template at the beginning of the main template
[code]
since in some parts the indentation moved
then I put it as mentioned above
[code]
so I put it manually and it worked
SSH Launch

[2019-11-28 13:56] BrianSidebotham commented on #1208
Do you want to leaves this here as a bug report of `plugin cannot install properly from cli when YAML file is already present` ?

Or shall we close this ?

[2019-11-28 14:03] casz commented on #1208
Not a bug we can solve in this plugin 😅
Not sure how you would solve it, it depends on install order when as I recall is A-Z.

[2019-11-28 14:17] BrianSidebotham commented on #1208
What?

The issue is JSasC fails to install if `jenkins.yaml` is present. If `jenkins,yaml` is not present then it installs and I can restart Jenkins and then JSasC successfully processes `jenkins.yaml`

I guess from your quip remarks that you're not really interested though.

[2019-11-28 14:19] casz commented on #1208
quip?

I was genuinely answering your question.
In anycase you ask jenkins cli to install a list of plugin.
What if you wait with installing JCasC last?
Perhaps not all plugins are loaded some do require a restart before activating plugins.

[2019-11-28 14:24] casz commented on #1208
I tried to update the post about installation order of plugins to better explain the problem. As I said this is not a problem for JCasC to solve as we do not want to manage plugin state.

[2019-11-28 15:19] BrianSidebotham commented on #1208
I am *not* asking Jenkins to install a list of plugins. *just* the JCasC plugin - all other plugins are already installed and deployed.

In each case, all other plugins are already installed and deployed.

If `jenkins.yaml` is in place and I then install JCasC (It is always installed last) it fails with the above stacktrace. If however, I do everything in exactly the same manor, but without `jenki

[2019-11-28 15:26] casz commented on #1208
Thanks for explaining the exact situation.

It's definitely a plugin state issue.

The issue is located when extension loaded and are augmented.

@oleg-nenashev is there a way to retrigger extension augmentation on plugin?

[2019-11-28 15:29] BrianSidebotham commented on #1208
No problem. Apologies for the frustration of cross wires. I know this was not the original description of this issue.

[2019-11-28 16:31] casz commented on #1208
No worries :)

Now that I think about the issue. I believe there is no way to fix this issue.

As for EXTENSIONS_AUGMENTED there is no referenced besides inside the boot sequence here:
https://github.com/jenkinsci/jenkins/blob/eedf2a4e2a25f5883d828f22c2429ceebe2bd157/core/src/main/java/jenkins/model/Jenkins.java#L3201

So the install, shutdown jenkins, add jenkins.yml, start jenkins seems to be th

[2019-11-28 16:35] casz commented on #1208
@BrianSidebotham here are some better options for installing plugins ahead of time:

https://github.com/jenkinsci/docker/blob/master/install-plugins.sh
See doc on how to use [`install-plugins.sh`](https://github.com/jenkinsci/docker#preinstalling-plugins)

https://github.com/jenkinsci/custom-war-packager
https://github.com/jenkinsci/plugin-installation-manager-tool
https://docs.ansible.com/ansible

[2019-11-30 08:46] #997 closed

[2019-12-01 08:12] #659 closed

[2019-12-02 20:25] daverod24 commented on #1189
I could solve the problem I had here the solution
20 spaces have to be indented and I did it this way and it worked for me

[code]

[code]
### render this way and it's works

[code]
I hope this helps someone
regards

[2019-12-02 23:10] janario commented on #1168
Hi guys, I've just had the same error

As I could understand the error is not actually related to the constructor, the main cause seems to be at `ec2-plugin` while constructing `UnixData`.[readResolve](https://github.com/jenkinsci/ec2-plugin/blob/master/src/main/java/hudson/plugins/ec2/UnixData.java#L31) togheter with [configAutoReload](https://github.com/helm/charts/blob/master/stable/jenkins/val

[2019-12-02 23:17] timja commented on #1168
@janario could you try the build from here when it's finished or build your own version?
https://github.com/jenkinsci/configuration-as-code-plugin/pull/1214

[2019-12-03 07:26] timja commented on #1168
@janario @Kanshiroron Could you please test this build and see if it fixes your issue?
https://repo.jenkins-ci.org/incrementals/io/jenkins/configuration-as-code/1.35-rc998.02b404da810e/configuration-as-code-1.35-rc998.02b404da810e.hpi

[2019-12-03 07:30] janario commented on #1168
Sure, I will try it soon and let you know

[2019-12-03 10:06] Kanshiroron commented on #1168
@timja, @janario Yes this fixes my issue!
Thank you guys for your support!

[2019-12-03 10:13] #1168 closed

[2019-12-03 10:17] Kanshiroron commented on #1168
@timja do you know which version of the plugin will embed this fix?

[2019-12-03 10:47] timja commented on #1168
For now you can use the build I sent you, it's a release candidate.
We're waiting for this PR to be fixed up and merged before releasing:
https://github.com/jenkinsci/configuration-as-code-plugin/pull/1215

[2019-12-04 15:37] jetersen opened #1216 "Document best practices"
How to docker
How to persist
How to manage plugins
😊

[2019-12-04 15:37] casz commented on #1216
@oleg-nenashev and @timja we need to better at documenting best practices! 😁

[2019-12-05 10:35] KoniAnastasia opened #1217 "Kubernetes plugin error Item isn't a sequence."
### Your checklist for this issue

🚨 Please review the [Support Policy](https://github.com/jenkinsci/.github/blob/master/SUPPORT.md)

- [x ] The question was asked in the project's [Gitter chat](https://gitter.im/jenkinsci/configuration-as-code-plugin)
- [x ] Jenkins version
- [x ] Plugin version
- [ ] OS
- [ ] Reproduction steps

### Description

- Asked the question in Gitter chat but got no res

[2019-12-05 10:43] timja commented on #1217
yamllint is unlikely to find indentation errors here for 2 reasons:
1. in the jenkins helm chart you're specifying basically a string with whitespace preserved:  `kubernetes_plugin: |`
2. it's not schema aware, the sequence error is specific to the config you've specified.

3 suggestions:
1. reduce your config down to see if you can find the issue
2. configure it in the UI and export it
3. take a

[2019-12-05 11:32] KoniAnastasia commented on #1217
Hello.

1. I used yamllint to a different file with all the configuration after the pipe | due to the fact it is a string in the helm values. But indentation seemed to be ok.

2.  About the schema, I followed the example provided for the plugin configuration but of course added some extra fields I need.

3. Configuring it in the UI and export it is not an option. I want to avoid this drill with an

[2019-12-05 11:38] timja commented on #1217
exporting is the recommended approach especially if we don't have a demo for it.
it can just be configured in a local docker and exported, it doesn't have to go anywhere near a jenkins you actually use/

[2019-12-05 12:02] KoniAnastasia commented on #1217
Ok thank you for the advice. I am quite new in writing configuration as code. I setup all the configuration so far by following the examples provided for each plugin and with lot of trial and error until it works because it felt backward to do the config through the gui and then just use the generated yml it in my helm chart.

[2019-12-05 12:32] KoniAnastasia commented on #1217
I exported the configuration and took the kubernetes plugin part and now it works. Feels like cheating because I never got an indication why it wouldn't work with my configuration. Nevertheless, thank you for your tip timja.

[2019-12-05 12:32] #1217 closed

[2019-12-05 12:34] timja commented on #1217
np, you should be able to diff the files and see why if you want to know?

[2019-12-06 09:58] olivergondza opened #1219 "JENKINS-60373: Read secret from file and encode it with base64"
### Feature Request

I am looking for a way to practically and securely inject binary secrets from `/run/secret` into a `file` credential type (`plain-credentials` plugin). The challenge is, the input is [expected to be base64 encoded](https://github.com/jenkinsci/configuration-as-code-plugin/blob/80e556e277b9a9980659eb1131497758e49bf239/demos/credentials/credentials.yaml#L38) so reading the file

[2019-12-06 10:01] olivergondza commented on #1219
The suggested declaration format is:

[code]

or perhaps

[code]

[2019-12-06 10:21] timja commented on #1219
Sounds like a reasonable approach that has caused pain for people using certain plugins for a long time

[2019-12-06 11:54] olivergondza commented on #1219
@timja, great to hear that. If you can point to some other use-cases to keep in mind while implementing that, that would be good.

[2019-12-06 12:00] timja commented on #1219
There's some google plugins that have similar issues, can't remember off the top of my head though

[2019-12-06 14:33] jglick commented on #1219
Note that this was just a dashed-off example. Probably you can find a more intuitive / readable syntax studying some other configuration languages.

[2019-12-06 17:51] casz commented on #1219
${base64('')}
Test secret string whether it is path or base 64 string encoded?
Secret source reveal will should help here 🤔

[2019-12-07 07:09] #1038 closed

[2019-12-07 07:09] #991 closed

[2019-12-10 01:54] casz commented on #913
Hi @MRamonLeon I would still like a failing unit test.

This should be simple enough to fix as the should be an easy way to detect whether the string is already encrypted

Though at the same time I wonder if this issue is related to JCasC.

[2019-12-10 09:41] timja commented on #917
resolved in https://github.com/jenkinsci/configuration-as-code-plugin/pull/1215

[2019-12-10 09:41] #917 closed

[2019-12-10 09:41] oleg-nenashev commented on #917
I believe it is fixed by @timja in https://github.com/jenkinsci/configuration-as-code-plugin/pull/1215

[2019-12-10 09:42] oleg-nenashev commented on #917
ERR_RACE_CONDITION

[2019-12-10 19:22] #1032 closed

[2019-12-10 19:22] #1035 closed

[2019-12-10 21:42] #1161 closed

[2019-12-12 23:13] casz commented on #1170
Created https://issues.jenkins-ci.org/browse/JENKINS-60467 to elicit a response from @jglick

[2019-12-14 11:37] sladyn98 commented on #542
@timja would our validation that we add via https://github.com/jenkinsci/configuration-as-code-plugin/pull/1121 give us a shorter error message ?

[2019-12-14 12:07] timja commented on #542
Yes but we currently aren't validating before applying

[2019-12-14 15:49] aliusmiles opened #1227 "casc reload groovy command breaks jobdsl plugin if executed by pipeline step load()"
### Your checklist for this issue

- [x] Jenkins version: 2.190.3

- [x] Plugin version: 1.34

- [x] OS: docker image based on jenkins/jenkins:lts

### Description

If jobs section is present in jenkins.yaml, configuration reload fails, both via UI and groovy script. Jobs config works without any issues on init, but fails on reload. CASC_JENKINS_CONFIG is set to url.

Config example:
[code]

Error

[2019-12-14 15:51] casz commented on #1227
what version of jobdsl?

[2019-12-14 15:53] aliusmiles commented on #1227
1.76

[2019-12-16 10:43] jluk-scms commented on #361
Hi, @x10an14 , I'm hitting the same issue with matrix-auth 2.5 and JCasC 1.34. Have you managed to overcome this somehow?

My case details for the record:

I'm configuring the per project matrix authorization with some user permissions.
Jenkins boots up with "Logged in users can do anything" authorization.
When I reload the JCasC config via UI, the auth configuration is fixed (project matrix is se

[2019-12-16 12:20] aliusmiles commented on #1227
Update:

issue is reproducing only if reload using declarative pipeline step load:

reload.groovy file:
[code]
pipeline step:
[code]

UI, token, script console and freestyle job with 'execute system groovy script' are working just fine.
And after running declarative step above, all other reload methods start failing as well.

Are there any examples on how to trigger casc reload from declarative pi

[2019-12-16 14:31] aliusmiles commented on #1227
For reference, I was able to trigger casc reload from declarative pipeline by creating via jobdsl freestyle job with systemGroovyCommand step and then invoking that job by *build* step.

Would be nice to trigger reload directly from declarative pipeline though.

[2019-12-16 18:10] aliusmiles commented on #1227
still the same error with freestyle reload job: it runs just fine immediately after jenkins start, but after running jobdsl step in another job reload job starts failing and jobdsl step as well. It seems to me that groovy code for reload is somehow breaking jobdsl plugin.

[2019-12-16 18:35] casz commented on #1227
See https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/docs/features/configurationReload.md

[2019-12-16 19:36] x10an14 commented on #361
I haven't worked on this for quite some time - I no longer work where this was a challenge. I'd recommend you to check out their Gitter channel or make a new issue instead of re-opening a closed one that's a year-and-a-half old =)

[2019-12-17 09:59] aliusmiles commented on #1227
To be honest, that page is quite lacking some important details. Like example of Jenkins CLI command or mention that only system groovy script will work.. Should I maybe just create PR for that? :)

I was able to find the root of this issue: forgot to remove `load('reload.groovy')` step from test job created by jobdsl 🤦🏻‍♂️ so seed job and reload job were working correctly but then test job was bu

[2019-12-17 10:02] casz commented on #1227
Feel free to contribute a PR to improve the docs

[2019-12-19 09:13] BipinXavier commented on #1191
Hello,
I got the same problem. When loading configuration as code with crumbIssuer: "strict". I can't modify security parameters, I can't see the jcasc conf, sealed secrets issues, etc, however, if I load Jenkins as code with the standard crumb and inside Jenkins web interface if I change to "strict" I don't have any issue.

[2019-12-19 18:40] nfplatzke opened #1233 "plugin installation via java ignores version number argument"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version

- [x] Plugin version

- [x] OS

### Description

I am having an issue installing plugins via groovy script where the version number argument is being completely ignored.

This is a bit of sample code which should install version 2.0.0

[2019-12-19 18:46] nfplatzke commented on #1233
opened this issue in the wrong place. sorry.

[2019-12-19 18:46] #1233 closed

[2019-12-20 17:05] nbutkowski commented on #1185
There's a PR for handling that exception - no activity on the project for getting it merged:

https://github.com/jenkinsci/configuration-as-code-secret-ssm-plugin/pull/1

[2019-12-20 17:07] casz commented on #1185
@nbutkowski you can ask to become maintainer :)

[2019-12-26 08:10] #222 closed

[2019-12-29 15:50] #1067 closed

[2020-01-01 12:23] #1142 closed

[2020-01-01 12:24] timja commented on #1142
Closing as separate issues should be reported to each individual plugin

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-01 12:38] timja commented on #1184
This likely needs a fix in the jenkinsci/jenkins repository they track issues with jira https://issues.jenkins-ci.org/ component core, it will have more visibility if it’s reported there

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-01 12:39] timja commented on #1149
Resolved in above commit

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-01 12:39] #1149 closed

[2020-01-01 18:26] cbpr opened #1242 "Reference documentation for JCasC YAML"
Hi,
I very appreciate the [JCasC project](https://jenkins.io/projects/jcasc/) and your ongoing work here (or related like https://jenkins.io/projects/jcasc/dev-tools/)

You, as insiders, might be fine with the [demos](https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos) as documentation and with the tests on them.
But I mean for many developers it takes too much time to fin

[2020-01-01 19:28] casz commented on #1242
There is already a reference documentation... 😢

Read this section: https://github.com/jenkinsci/configuration-as-code-plugin/blob/b53eb77810a9f1a0b8871b21d98d25206f8e0d9f/README.md#initial-configuration

Head to `https://YOUR_JENKINS_URL/configuration-as-code/reference`

[2020-01-01 19:30] casz commented on #1242
This is partly covered by JSON schema too: https://github.com/jenkinsci/configuration-as-code-plugin/issues/1076

[2020-01-01 19:31] casz commented on #1242
The best way to get started in most cases is actually you install JCasC, start configuring away and then use export feature.

[2020-01-01 22:05] cbpr commented on #1242
Joseph,
Thanks a lot for the fast response.

Cool feature (always up-to-date), when plugins like Job-DSL or JCasC document themselves in a running system, but you should find it w/o bothering forums :P

I scrolled through this several times and wondered _which_ page

may refer too.

So could you please replace this sentence at [Initial Configuration](https://github.com/jenkinsci/configuration-as-c

[2020-01-01 22:28] casz commented on #1242
Feel free to send a PR to improve documentation 😄

[2020-01-02 17:43] oleg-nenashev commented on #81
We could add support for it directly in the Jenkins core 🤷‍♂ . Even with YAML input, why not

[2020-01-06 09:29] sladyn98 commented on #1126
This has been completed and can be closed I guess.

[2020-01-06 09:29] #1126 closed

[2020-01-08 17:07] badamb9 opened #1244 "Jenkins failed to start after Upgrade"
After Upgrading Jenkins, jenkins is throughing below message . Please note I'm upgrading Jenkins from way too older version .

[code]

[2020-01-08 17:13] casz commented on #1244
Would you mind actually filling on the checklist?

- [ ] Jenkins version
- [ ] Plugin version
- [ ] OS

Not sure how this is related to JCasC.

As this seems to be an issue with either `ProjectMatrixAuthorizationStrategy` or Jenkins Core as it is an issue inside the xstream.

What version of Jenkins are you coming from and upgrading to?

[2020-01-09 04:20] badamb9 commented on #1244
Thank you for your reply. I will send the version number soon .

I deleted existing jenkins.war and renamed  jenkins.war.bak to jenkins.war
and restarted jenkins which made jenkins to be back online with all agents
as well .

But I cant open any jobs. When I open any jobs its throughing the same
error message . I bieleve issue is with the plugins . I'll also include
plugins.txt in my next email.

[2020-01-09 04:28] casz commented on #1244
Still not sure how this is related to configuration as code plugin?

[2020-01-09 18:30] #1150 closed

[2020-01-09 19:12] #1124 closed

[2020-01-09 20:45] badamb9 commented on #1244
Once I'm logged in if I click on any job I'm getting below message .

Version Number : 2.7.2
OS : WIndows 2012 R2

[image: image.png]

On Wed, Jan 8, 2020 at 11:28 PM Joseph Petersen <notifications@github.com>
wrote:

[2020-01-09 23:31] casz commented on #1244
Jenkins configuration as code plugin only supports Jenkins v2.60.3 and beyond.

I believe your issue is not related to Jenkins configuration as code plugin and suggest you file your issue in the proper channel.

https://issues.jenkins-ci.org/

[2020-01-09 23:31] #1244 closed

[2020-01-10 15:31] usmonster commented on #1191
I would classify this as a bug more than a question. I think the answer to the question is "no, but it should be." 😓

[2020-01-10 15:36] casz commented on #1191
Should be supported in the latest version.
Thanks to @Wadeck ? 🤔

[2020-01-10 15:40] BipinXavier commented on #1191
@usmonster It's fixed in the latest version configuration as a code plugin version.

[2020-01-10 16:01] usmonster commented on #1191
OK, thanks for the quick response! I guess this can be closed, then?

[2020-01-10 16:03] #1191 closed

[2020-01-12 00:15] almiroshnich opened #1246 "Support YAML syntax features: Anchors, Aliases and Extensions"
### Checklist for this issue

- [x] 🚨review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

### Feature Request

Would be nice to have native support for situations like this

[code]

Currently, this config causes such exception:

<details>

<summary>Stack Trace (clickable)</summary>

[code]

</details>

### Relevant links:
- [jenkinsci/configuration-as-

[2020-01-12 00:49] casz commented on #1246
If we would introduce this, it would only be supported on import.
However I would have no idea what changes it would require.

One pass to find all anchors an second pass to configure?

Secondly we would have no way of validating the schema.

[2020-01-12 00:56] almiroshnich commented on #1246
Yeah, I can imagine the struggle...
At the moment, I use a python script to expand this. But the approach to reload this _on-the-fly_ is going to be super clumsy 🙁

[2020-01-14 00:53] #1139 closed

[2020-01-14 10:54] casz commented on #536
I think we can mostly close this? the topic is too broad and we need specific plugins.

[2020-01-14 12:41] reinholdfuereder commented on #536
@casz Presumably you are right; although it might be interesting which warnings are still "alive"/around? In my case only these (anymore):
[code]

[2020-01-14 12:53] Kanshiroron commented on #1168
I confirm this is fixed with [v1.35](https://github.com/jenkinsci/configuration-as-code-plugin/releases/tag/configuration-as-code-1.35) :tada:

[2020-01-15 09:43] #1171 closed

[2020-01-15 21:53] nanderson94 commented on #1246
Anchors/Aliases are a feature of the yaml parser ([snakeyaml in this case](https://bitbucket.org/asomov/snakeyaml/wiki/Documentation#markdown-header-aliases)).

The above example should be working regarding the anchor/alias, but is failing because there is no configuration module for the `x-ec2_anchor` property. If there is a way to put the anchor on a "noop" configuration module that accepts any

[2020-01-15 22:29] almiroshnich commented on #1246
@nanderson94 good point!
I've tested adding `x-ec2_anchor` to the _unclassified_ block, but it seems it also has a strict schema validation, so that didn't work out either.

[2020-01-16 01:22] casz commented on #1246
I'd welcome any PR that looks if a root element is an anchor and should than not throw an exception.

[2020-01-16 16:46] #1154 closed

[2020-01-20 14:47] #1167 closed

[2020-01-20 15:23] devilmind81 opened #1253 "component javaposse.jobdsl.plugin.casc.FromFileScriptSource$DescriptorImpl; skipping"
Hi All,
I'm trying to test the JCasc plugin in order to manage my custom jenkins installation.
This is my Dockerfile:
[code]
But when I running a container with the command:

 docker run --name jcasc-demo -d -p 8081:8080 -v jenkins_home-jcasc:/var/jenkins_home jcasc-demo:v1

I'm obtain the following errors in the container logs and the configuration cannot loaded succesfully:

[code]
This is my je

[2020-01-20 15:46] devilmind81 commented on #1253
Sorry, I have changed the tool to write the files and forced those with dos2unix changing the format of files and now all is working as expected.

[2020-01-20 15:46] #1253 closed

[2020-01-22 15:27] P0sa opened #1254 "Creating Jenkins users with E-mail and Full Name"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [X] Link to any upstream changes that might be required (for example Jenkins Core pull request)

### Feature Request

It is currently possible to create jenkins users like this:

[code]
What I am missing here is an entry for an E-mail and a Full Name, exa

[2020-01-22 15:36] timja commented on #1254
If anyone wants to contribute this the code to update is here:
https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/plugin/src/main/java/io/jenkins/plugins/casc/core/HudsonPrivateSecurityRealmConfigurator.java

Note: it's a bit more complicated because email address comes from a plugin and not the core jenkins.

[2020-01-22 17:28] jimbo8098 opened #1255 "Exit Code for Reload is 255"
- Jenkins version 2.204.1
- Plugin version 1.35
- OS CentOS 7.6.1810 (Running on Docker, build with Chef)

When running:

[code]

I find that the command exits with a 255 with no content in either the STDOUT or STDERR, however the command appears to reload the configuration file as expected since at next login it is confirmed to have all of the settings set up within the file. Is there any reason

[2020-01-23 13:26] fcojfernandez commented on #280
FTR, I've just opened: https://github.com/jenkinsci/jenkins/pull/4450

[2020-01-24 10:07] phootip commented on #949
When ever I add credentials, kind: Secret file, JCasc will always gives this error
[code]
How can I fix this?

[2020-01-24 10:08] casz commented on #949
This requires a fix in the plain credentials and/or credentials plugin.

[2020-01-24 10:18] phootip commented on #949
So, without fixing the credentials plugin, I can workaround by encoding the file with base64 and store it as `kind: Secret text`, and convert it back when I want to use them right?

[2020-01-24 10:19] casz commented on #949
Ya @phootip :)

[2020-01-24 10:20] phootip commented on #949
Thank you 🙏

[2020-01-24 10:23] casz commented on #949
It's not perfect but the problem is somewhat tricky and really the fix should be carried out in stapler but 😱

[2020-01-24 15:19] Erikvv commented on #613
for linux:

`export JAVA_HOME=/usr/lib/jvm/java-8-openjdk/`

[2020-01-27 19:55] sladyn98 commented on #1254
@timja Would the addition of an email field affect account creation ?

[2020-01-27 21:30] timja commented on #1254
Yes, email isn't a field in core, it comes from the mailer plugin

[2020-01-28 16:17] sladyn98 commented on #1254
@timja Is there a way to pull in the info from the mailer plugin or should we just implement the username field.

[2020-01-28 16:27] timja commented on #1254
This is how core does it:
https://github.com/jenkinsci/jenkins/blob/861855953b0cbe12b2d1de172fd84d9eadc4ac57/core/src/main/java/hudson/security/HudsonPrivateSecurityRealm.java#L469-L482

Not sure if there is a cleaner way

[2020-01-29 17:25] MarkEWaite opened #1260 "pipeline model definition 1.5.1 added a symbol, broke my JCasC"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version 2.219

- [x] Plugin version 1.35

- [x] OS - Debian Buster in a Docker image

### Description

I updated from pipeline model definition 1.5.0 to pipeline model definition 1.5.1.  The update caused my Jenkins server to fail to start.  T

[2020-01-29 17:32] dwnusbaum commented on #1260
See https://github.com/jenkinsci/pipeline-model-definition-plugin/pull/372 for the change the caused the issue. The relevant part of the change is that two descriptors went from having one symbol like this:

[code]

to two symbols, like this:

[code]

I think that CasC should allow users to use either symbol in configuration files, but that it should always use the first symbol when it generates a

[2020-01-29 17:48] jglick commented on #1260
Well https://github.com/jenkinsci/configuration-as-code-plugin/blob/b68e82e7eb859519975f29bc5e3b5ca77a4ef2ce/plugin/src/main/java/io/jenkins/plugins/casc/impl/attributes/DescribableAttribute.java#L55 looks OK but https://github.com/jenkinsci/configuration-as-code-plugin/blob/b68e82e7eb859519975f29bc5e3b5ca77a4ef2ce/plugin/src/main/java/io/jenkins/plugins/casc/Configurator.java#L65 and https://gith

[2020-01-29 20:59] lcsfreire opened #1261 "WARNING i.j.p.casc.BaseConfigurator#createAttribute: Can't handle class com.google.jenkins.plugins.credentials.oauth.JsonServiceAccountConfig#jsonKeyFileUpload: type is abstract but not Describable."
Hello,
we've got the following environment:
-  2/217 Jenkins version
- 1.35 JCASC Plugin version
- linux docker image OS to jenkins master
- 4.2.0 google compute engine plugin version

Our jenkins is reloading the jcasc conf in a infinite loop.
We have two logs which could explain the issue:
1) logged 6 times/minute
INFO	i.j.p.casc.TokenReloadAction#doIndex: Configuration reload triggered via toke

[2020-01-29 21:04] casz commented on #1261
This issue is with the google plugins and not JCasC.
https://github.com/jenkinsci/google-oauth-plugin

[2020-01-29 21:07] #1261 closed

[2020-01-31 14:35] oleg-nenashev commented on #1188
not stale

[2020-02-04 00:20] DavidRodHub opened #1266 "Perforce credentials"
### Your checklist for this issue

🚨 Please review the [Support Policy](https://github.com/jenkinsci/.github/blob/master/SUPPORT.md)

- [x] The question was asked in the project's [Gitter chat](https://gitter.im/jenkinsci/configuration-as-code-plugin)
- [x] Jenkins version 2.204.2
- [x] Plugin version 1.35
- [x] OS  18.04
- [ ] Reproduction steps

### Description

Does configuration as code suppor

[2020-02-04 00:29] DavidRodHub commented on #1266
Jenkins version:  2.204.2
Configuration as Code Plugin version: 1.35
OS:  ubuntu 18.04

Does configuration as code support creating credential for Perforce Password credential that also requires "P4Port"?

- Kind:  Perforce Password credential
- Scope: Global
- ID:
- Description
- P4Port                <--------????
- Username
- Password

If so, can an example be added to the credential.ymal file.

[2020-02-04 04:24] DavidRodHub opened #1267 "Credential get's FAILED TO EXPORT error when creating a new jenkins container"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version:  2.204.2
- [x] Plugin version    1.35
- [x] OS:  Ubuntu 18.04

### Description

Please describe your issue here:

Credential get's FAILED TO EXPORT error when creating a new jenkins container with configuration-as-code plugin and jenk

[2020-02-04 06:16] casz commented on #1266
Did you try and configure the credential and see what happens when you export?

in any case @DavidRodHub this is a issue with the plugin, please report it there.
I bet the plugin could use some configuration-as-code tests.

[2020-02-04 06:17] casz commented on #994
I believe this was fixed in oic-auth-1.7

[2020-02-04 06:17] #994 closed

[2020-02-04 06:21] casz commented on #1267
Which credentials do you have configured?
What version of credential plugin?
Again this is most likely a plugin issue.

[2020-02-04 06:25] casz commented on #1267
This is already reported as: [JENKINS-58249](https://issues.jenkins-ci.org/browse/JENKINS-58249)

[2020-02-04 06:25] #1267 closed

[2020-02-04 06:33] casz commented on #1266
@p4paul

[2020-02-04 06:33] casz commented on #1267
@p4paul

[2020-02-04 08:55] keesj commented on #613
Just .. for the fun of it... if the java binary is in the path it is possible to read the link to where it points to. e.g. /usr/lib/jvm/java-11-openjdk-amd64/bin/java by invoking readlink -f /usr/bin/java.
Calling dirname twice on this path results in /usr/lib/jvm/java-11-openjdk-amd64/
[code]

[2020-02-04 22:52] DavidRodHub commented on #1267
Hi casz.   Thanks for your quick support.  I figured out my problem.... Me :)   In the credential example given below  it says "Load from Environment Variable". It means what it says.  My environment variable wasn't set correctly.  After I fixed that, it worked flawlessly..... Thanks!

credentials:
  system:
    domainCredentials:
      - credentials:
          - basicSSHUserPrivateKey:

[2020-02-05 06:09] DavidRodHub commented on #1266
When I add the 'basicSSHUserPrivateKey' credential below to the jenkins.yaml file and reload it through jenkins GUI, it works fine.

credentials:
  system:
    domainCredentials:
    - credentials:
      - basicSSHUserPrivateKey:
          description: "Private key credentials for Jenkins GitLab user"
          id: "gitlab-key"
          privateKeySource:
            directEntry:
              pri

[2020-02-05 06:36] casz commented on #1266
Again a problem with the p4 plugin.
Either report it to them (already reported) or submit a pull request to them with unit tests and/or a fix

[2020-02-05 19:20] DavidRodHub commented on #1266
Hi Joseph,

I reported to the following issue:

https://issues.jenkins-ci.org/browse/JENKINS-58249

Regards,
David

On Tue, Feb 4, 2020 at 10:36 PM Joseph Petersen <notifications@github.com>
wrote:

[2020-02-06 18:32] efernandes-ANDigital opened #1269 "Invalid configuration elements for type class com.github.kostyasha.github.integration.multibranch.GitHubSCMSource"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version

- [x] Plugin version

- [x] OS

### Description
We are currently getting the following error trying to configure global shared libraries on jenkins.

I added the configuration first on jenkins via the UI and then extracted the followi

[2020-02-06 20:28] timja commented on #1269
What plugins do you have installed?

[2020-02-07 08:57] efernandes-ANDigital commented on #1269
@timja Here's a list of all the plugins I've got installed

 "ace-editor:1.1",
    "allure-jenkins-plugin:2.28.1",
    "analysis-core:1.96",
    "analysis-model-api:7.0.4",
    "ansicolor:0.6.2",
    "antisamy-markup-formatter:1.8",
    "apache-httpcomponents-client-4-api:4.5.10-2.0",
    "authentication-tokens:1.3",
    "aws-credentials:1.28",
    "aws-global-configuration:1.3",
    "aws-java-sdk

[2020-02-10 21:10] jamiejackson opened #1271 "cucumber-slack-notifier plugin - configurable?"
### Your checklist for this issue

- [x] Jenkins version:  - 2.204.2
- [x] Plugin version - 1.35
- [x] OS - Docker image (Alpine): `jenkins/jenkins:lts-alpine`

### Description

Please describe your issue here.

Is it possible to configure this plugin with CasC?

GUI:

![image](https://user-images.githubusercontent.com/479475/74189718-e7ce2c80-4c1e-11ea-8e7d-5d119b917ad6.png)

My (failed) attempt:

[2020-02-10 21:13] casz commented on #1271
did you try the export?

[2020-02-10 21:15] casz commented on #1271
This public look to only be a Job configuration / workflow plugin.

So use job dsl?

[2020-02-10 21:22] jamiejackson commented on #1271
I did try the export, but it didn't appear there.

I'm already calling the plugin from my job as follows:

[code]

But I sill need that global webHookEndpoint config. (I think?)

[2020-02-10 22:00] casz commented on #1271
I'd suggest submitting a PR that fixes the plugin.

[2020-02-10 22:03] jamiejackson commented on #1271
Will do. Is there any kind of semi-CasC-friendly generic solution for "unsupported" plugins?

[2020-02-10 22:04] casz commented on #1271
using jcasc-groovy?

[2020-02-10 22:33] jamiejackson commented on #1271
If [this](https://wiki.jenkins.io/display/JENKINS/Plugins+compatibility+with+Jenkins+Configuration-as-Code+plugin#PluginscompatibilitywithJenkinsConfiguration-as-Codeplugin-Knownissuesandresolutions) is correct, then I'm supposed to file a Jenkins ticket. I created this one: https://issues.jenkins-ci.org/browse/JENKINS-61037

I'll look into jcasc-groovy, @casz , thanks.

[2020-02-10 22:33] #1271 closed

[2020-02-11 09:27] efernandes-ANDigital commented on #1269
@timja any ideas?

[2020-02-11 09:32] timja commented on #1269
The only reference I can find to that class is this plugin:
https://github.com/KostyaSha/github-integration-plugin/blob/master/github-pullrequest-plugin/src/main/java/com/github/kostyasha/github/integration/multibranch/GitHubSCMSource.java

which isn't the right GitHubSCMSource (https://github.com/jenkinsci/github-branch-source-plugin/blob/master/src/main/java/org/jenkinsci/plugins/github_branch_s

[2020-02-11 09:41] casz commented on #1269
As the `github-pullrequest-plugin` is not hosted in Jenkins CI this is outside the scope of JCasC and our goal for plugin compatibility.

[2020-02-11 09:41] #1269 closed

[2020-02-13 09:26] choeffer opened #1272 "empty GitLab connection is created in addition the one defined in jenkins.yml"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version v2.204.2

- [x] Plugin version v1.35

- [x] OS Fedora 31 Cloud Base

### Description

An empty GitLab connection is created in addition to the one defined in jenkins.yml, see

![empty_connection](https://user-images.githubusercontent.c

[2020-02-13 09:34] casz commented on #1272
I'd advice against using gitlab plugin, instead use gitlab branch source plugin https://github.com/jenkinsci/gitlab-branch-source-plugin

[2020-02-13 09:35] casz commented on #1272
Again not a configuration-as-code bug but rather an issue with how the `gitlab-plugin` does not support JCasC

[2020-02-13 09:42] choeffer commented on #1272
Maybe then it should also not be listed there https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos/gitlab

[2020-02-13 09:48] casz commented on #1272
actually we have a test validating the readme.
So I guess it should work. Depends what version of gitlab plugin your using.

[2020-02-13 09:51] casz commented on #1272
I guess if your using a newer version than
https://github.com/jenkinsci/configuration-as-code-plugin/blob/910e77b812d237a38b456f08081bf4364fd60826/integrations/pom.xml#L377-L381
Than I would suggest to poke the plugin maintainer for breaking compatibility, 😉 @markyjackson-taulia

[2020-02-13 10:00] choeffer commented on #1272
latest available at https://plugins.jenkins.io/gitlab-plugin/ is 1.5.13
latest released https://github.com/jenkinsci/gitlab-plugin/releases is 1.5.17

So the test should be updated to cover the latest version 1.5.13.

[2020-02-13 10:28] choeffer commented on #1272
I have also done a test with version 1.5.9 and the problem persists. Two entries are added, one with the defined values, one which is just empty.

[2020-02-18 20:41] jtnord commented on #1026
code is now available in Jenkins weeklies that introduce a new lifecycle so this is now possible to address.

[2020-02-18 21:03] timja commented on #1026
@jtnord there's a pull request for it but we're having a weird test failure on CI for java 11 which we can't reproduce locally 😢

https://github.com/jenkinsci/configuration-as-code-plugin/pull/1262

[2020-02-20 08:35] choeffer opened #1278 "[JENKINS-56774] not able to set per project based settings in authorize-project-plugin"
[jenkins-jira]: https://issues.jenkins-ci.org/browse/JENKINS-56774
[dashboard]: https://issues.jenkins.io/secure/Dashboard.jspa?selectPageId=18341
[contributing]: ../blob/master/docs/CONTRIBUTING.md
[compatibility]: ../blob/master/docs/COMPATIBILITY.md

### Your checklist for this issue

🚨 Please review the [guidelines for contributing][contributing] to this repository.
💡 To better understand plug

[2020-02-20 19:33] darkn3rd opened #1279 "Exported Unclassified Elements are Invalid"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version `2.204.2`
- [x] Plugin version `1.35`
- [x] OS `Alpine Linux v3.9`

### Description

After doing an download configuration, I get elements, e.g. `timestamperConfig`, `buildStepOperation`, `extendedEmailPublisher`, that cause an excepti

[2020-02-20 19:59] casz commented on #1279
Sounds like missing plugins

[2020-02-22 10:55] timja commented on #1266
This is supposed to be fixed in https://github.com/jenkinsci/p4-plugin/commit/c426268efebc8980d5a5c3e822be9b0705cb0f55, can you test it and report any findings in https://issues.jenkins-ci.org/browse/JENKINS-58249

Closing here as it was fixed in the p4-plugin

[2020-02-22 10:55] #1266 closed

[2020-02-22 11:04] timja commented on #1185
This has been merged 11 days ago: https://github.com/jenkinsci/configuration-as-code-plugin/issues/1185

[2020-02-22 11:04] #1185 closed

[2020-02-22 16:21] timja commented on #1184
Disabling CSRF is not recommended, the only way in the latest version of jenkins to do it is via SystemProperty now.

I don't think we need to support this, you should be using an API token and then you don't need to worry about CSRF

Ref: https://github.com/jenkinsci/jenkins/pull/4509

[2020-02-22 16:21] #1184 closed

[2020-02-24 13:11] ChristianCiach opened #1288 "README claims JCasC is included when running as Docker, but it isn't"
### Description

The README states this:

[code]
I am not entirely sure what the part "and maybe also pre-installing plugins" means in this context, but when running `jenkins/jenkins:lts`, the JCasC plugin is not available without installing it manually.

[2020-02-24 13:15] casz commented on #1288
@ChristianCiach you have to pre-install plugins: https://github.com/jenkinsci/docker#preinstalling-plugins

[2020-02-24 17:33] ChristianCiach commented on #1288
Well, duh, of course the plugin is "included" when explicitly preinstalling it :) This is true even when *not* running Jenkins as a Docker container.

[2020-02-24 18:25] casz commented on #1288
That's one the readme is referring to, that you need to preinstall plugins.

if you want `jenkins/jenkins:lts` to include JCasC that is a PR for https://github.com/jenkinsci/docker

[2020-02-24 18:26] casz commented on #1288
Feel free to send a PR that updates the readme if you find that section confusing, no need to create an issue about it.

[2020-02-24 18:26] #1288 closed

[2020-02-24 18:32] ChristianCiach commented on #1288
Well, if you think that it's okay when something claims "batteries included" but you still need to buy and insert them manually, then I seriously cannot help you.

[2020-02-24 18:33] casz commented on #1211
Should be fixed in recent version of cloudbees-bitbucket-branch-source https://github.com/jenkinsci/bitbucket-branch-source-plugin/releases/tag/cloudbees-bitbucket-branch-source-2.7.0

[2020-02-24 18:33] #1211 closed

[2020-02-24 18:41] casz commented on #1288
I do not maintain the jenkins docker image so 🤷‍♂
Again feel free to update the wording in the readme, I'll happily accept a PR.
The readme is best maintained by those who reads it.

Reading the section in context

You could properly reword

Clearly something was lost when the readme was last edited in the section.

[2020-02-24 18:45] ChristianCiach commented on #1288
I do not claim that there is something wrong with the docker image. I claim that the Readme of this project is  misleading and, if you omit the part inside the parenthesis, totally wrong. I was hoping that this could be corrected by someone with write access, without requiring me to jump through hoops (forking, branching, cloning, editing, pushing, creating PR). I was clearly wrong about that, so

[2020-02-24 18:45] casz commented on #1288
you can edit the readme from github web page, I do not see the issue 🤔

[2020-02-24 18:47] casz commented on #1288
https://help.github.com/en/github/managing-files-in-a-repository/editing-files-in-your-repository

[2020-02-24 18:47] ChristianCiach commented on #1288
I didn't know about that :D Thanks for that. I will do that next time.

[2020-02-24 18:51] casz commented on #1210
I believe this is fixed in reason version of the plugin.
https://github.com/jenkinsci/oic-auth-plugin/commit/9c4ea1cafb68807b7b06aa4a6857f9fbfe36bd79

[2020-02-24 18:51] #1210 closed

[2020-02-26 20:29] casz commented on #1208
I believe this is actually fixed in recent version of Jenkins core, after plugin loading it seems that load extensions gets called.

[2020-02-26 23:52] akrasnov-drv opened #1291 "Jenkins start up failure because of plugin"
Today I had a weird issue when Jenkins could not start. I could see just Jenkins screen with Java stack trace.
- Jenkins version 2.204.2
- Plugin version 1.35 (last available within Jenkins)
- jenkins:lts-alpine image in Ubuntu 18 host

Appeared that during its start Jenkins tried to load the plugin, and the plugin tried to download configuration from the URL, that was used recently to update Jenk

[2020-02-27 17:39] sztomi opened #1292 "Allow reloading configuration contents via POST (not from disk)"
### Feature Request

I'm in the process of migrating our Jenkins installation to use Configuration as Code. We have some prior work in the form of a repo that uses Groovy to specify the jobs configuration (kinda like job DSL, but home-grown).

When this repo is changed, a build is started on Jenkins that reloads the jobs.

I would like to add the YAML CasC to the same repo and reload it during the

[2020-02-27 18:04] casz commented on #1292
Put your yaml raw url as the configuration and enjoy

[2020-02-27 18:06] casz commented on #1292
Read the getting started section on the Readme for details

[2020-02-27 19:13] sztomi commented on #1292
Thanks, I read the documentation. We have a private github repo that is not accessible without authentication. As far as I can tell, the URL field is not capable of doing that. We also store our configuration split into multiple files, which, as I understand is not possible to specify via the URL field, only the environment variable that sets the local path. Additionally, it's not possible to spec

[2020-02-27 19:44] casz commented on #1292
Meh keep it simple point to master, create a small application that handles authentication for the git repo 🤷‍♂

[2020-02-27 20:11] sztomi commented on #1292
@casz for a feature request, "change your requirements" is not really a relevant discussion point in my opinion. I can work around the issue just fine, the feature request is about upstream support to make handling this scenario better.

[2020-02-27 20:19] casz commented on #1292
The problem with adding these features into upstream in this case, is that it becomes more complex than it needs to be. Allowing to modify JCasC from a POST body content sounds very dangerous when you consider the security implications. Not everyone uses https on their Jenkins so man in the middle is a serious concern.

Everyone has different wishes as clearly shown by your comments.

For me this

[2020-02-27 20:23] casz commented on #1292
I consider this issue an issue won't do because sending a http request with potential to leak credentials is a serious concern.

[2020-02-27 21:26] sztomi commented on #1292
Can you outline how that would work?

Sure, but this could be optional, just like there is already a post request that is optional. Not everyone is running Jenkins _without_ https either. I'd argue that dismissing this because it can be insecure in an otherwise fundamentally insecure setup is circular reasoning (and also that no one should run Jenkins without https, but that's not relevant to this

[2020-02-27 22:00] casz commented on #1292
each scm handles viewing files as raw differently, same goes for authentication. So it becomes rather unmaintainable supporting the gitlab api or bitbucket api which

Just ask SourceLink devs how the work is going 😓

There was an attempt to add authorization header to the URL request but each SCM or any website again has different ways of handling authentication so it was never merged, mostly due

[2020-02-27 22:07] #1170 closed

[2020-02-27 23:08] sztomi commented on #1292
GitHub, Bitbucket, Gitlab, Gitea are all the same scm though?

[2020-02-27 23:13] casz commented on #1292
Ya if we want to support the git client which is also another complexity.
However they have very different APIs and have very different ways of reading the raw file.

[2020-02-27 23:18] sztomi commented on #1292
So instead of all that complexity, how about the proposal in this issue? :)

[2020-02-29 17:52] casz commented on #1291
An issue with an workaround: https://github.com/jenkinsci/configuration-as-code-plugin#compatibility-with-jenkins--2199

and soon a proper fix: #1262

[2020-02-29 17:52] #1291 closed

[2020-03-01 10:27] akrasnov-drv commented on #1291
@casz   I believe it's another issue than in the link you provided.

The problem I see - the plugin tries to download new configuration during Jenkins start. It tries to use URL that was used previously.

I believe it's both wrong behavior and security issue
The plugin should not bring any new configuration itself during Jenkins start.

My Jenkins start failure was just a follow up for the problem

[2020-03-01 10:34] casz commented on #1291
Best to set `CASC_JENKINS_CONFIG` as clearly stated in the readme.

[2020-03-01 10:46] akrasnov-drv commented on #1291
Ok, right, this may be considered as a workaround.

Still, I do not see any reason, why the plugin should update Jenkins configuration during Jenkins startup. You may add this feature as an option, but it should not be the default.
Maybe worth adding safe default to CASC_JENKINS_CONFIG (e.g. /dev/null)? This way you at least does not break something pre-existing...

[2020-03-01 10:50] casz commented on #1291
This is not a workaround this the intended way to configure CASC_JENKINS_CONFIG or otherwise default to what was configured previously.

Some people do not use containers and rely on what was previously persisted.

https://github.com/jenkinsci/configuration-as-code-plugin/blob/dcd748d6518204f44f7845a7afef80a8b6a601fe/plugin/src/main/java/io/jenkins/plugins/casc/ConfigurationAsCode.java#L306-L337

[2020-03-01 10:52] casz commented on #1291
The reason why Jenkins should run configuration during startup is if you run a stateless Jenkins.

[2020-03-01 10:57] casz commented on #1291
If you consider this a security issue than do not point it to a file or an URL you do not trust. 🤷‍♂

[2020-03-01 11:02] akrasnov-drv commented on #1291
I see, but you describe just one of use cases. I believe there should be an option to choose it (e.g. by defining  CASC_JENKINS_CONFIG variable), but it should not be the default. And to remember the value provided in the GUI (server/configuration-as-code/) for the next Jenkins start is not correct at all.
I understand that the plugin was created in some scenario in mind, still I really think that

[2020-03-01 11:12] casz commented on #1291
You can always make your Jenkins partially stateless by using a different bind mount volume for only workspace/build as you said your running it on a container, thereby it will not "save" the global configuration for JCasC.

By setting `-Djenkins.model.Jenkins.workspacesDir` and `-Djenkins.model.Jenkins.buildsDir`

[2020-03-01 11:19] casz commented on #1291
Also what your describing above as the "universal" approach is what we got.

Some just use JCasC without any other configuration around Jenkins itself and rely on the global configuration path being saved. So when they restart JCasC it continues to work.

Other have committed to ansible, kubernetes, dockerfile to maintain their Jenkins instance and rely on setting JCASC_JENKINS_CONFIG.

Some have

[2020-03-01 12:02] akrasnov-drv commented on #1291
I see, and still our use case differs.
We use bind mount from docker host (configuration is kept).
We use the plugin to update EC2 cloud config (only).
We expected to update the configuration on request (and definitely not during Jenkins startup).
I just suggested some more acceptable (IMHO) behavior, if you think it's not interesting to follow my suggestion, just forget.
You provided me the input

[2020-03-02 15:05] nlloyd commented on #505
For anyone else who might run into this issue and wonder what is going on, I have discovered a conflict with the [build-notifications plugin](https://plugins.jenkins.io/build-notifications/) which is NOT compatible with CasC currently, where CasC will attempt to create an object of a class of the same name as the official slack plugin but with a different classpath.

Hopefully this helps someone r

[2020-03-02 17:02] #9 closed

[2020-03-02 17:12] casz commented on #9
🎆 🎉 🥇 😍 @timja Thanks for landing this feature!

[2020-03-03 10:09] etashsingh commented on #401
This error comes up when you use:
[code]

[2020-03-03 17:35] holmesb commented on #782
Trying to create a "secret text" credential in a folder using job-dsl.  But according to the job-dsl api-viewer, our Jenkins only has the following credential types:
basicSSHUserPrivateKey {}
certificateCredentialsImpl {}
fileSystemServiceAccountCredential {}
openShiftBearerTokenCredentialImpl {}
usernamePasswordCredentialsImpl {}
We can create manually in the webui.  Has "secret text" not been im

[2020-03-04 11:13] holmesb commented on #782
Following [the above comment ](https://github.com/jenkinsci/configuration-as-code-plugin/issues/782#issuecomment-475444114)from @zhming0 , does anyone have example job-dsl code "to query credentials provided by CasC"?

Many thanks,
Brendan

[2020-03-04 15:12] linkeal commented on #782
@holmesb: In our setup we use job-dsl only create a job which points to a Jenkinsfile
Job-DSL:
[code]

An example Jenkinsfile to reference a password looks like:
[code]

Only make sure to use the credentialsID you defined in the Jenkins credential store (via JCasC or manually).

[2020-03-04 17:05] holmesb commented on #782
Sorry if my comment wasn't clear @linkeal , we're trying to create a folder credential using job-dsl (by querying credentials provided by CasC - as suggested by @zhming0), not attach a credential to a job.

Our credentials are currently created by CasC and exist globally (not at folder level).  The reason we are using both CasC and JobDSL is [CasC mounts our kubernetes secret](https://github.com/j

[2020-03-04 19:31] maximkulkin opened #1303 "Merging global node environment variables from multiple config files"
### Your checklist for this issue

- [x] Jenkins version `2.223`
- [x] Plugin version `1.35`
- [x] OS `Ubuntu 18.04`

### Description

When having multiple .casc files to configure different aspects of Jenkins, if multiple files have global environment variables configuration, they are not merged, but stored as a separate envVars sections:

config1.yaml
[code]
config2.yaml
[code]
resulting config

[2020-03-04 23:55] DavidRodHub opened #1304 "Jenkins config.xml changes via GUI doesn't persist with configuration-as-code plug in installed."
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [ X ] Jenkins version 2.204.4

- [ X ] Configuration as Code Plugin 1.36

- [ X ] Ubuntu 18.04

### Description
**REF:**  Jenkins Home config.xml reset upon restart
- https://issues.jenkins-ci.org/browse/JENKINS-55088

On new jenkins instance with configu

[2020-03-05 00:42] casz commented on #1304
Could you share your config?

In any case this working as intended.
You most likely have configured views in JCasC so that is where you need to export the manual changes and merge them into your configuration.
JCasC will only manage what you tell it to manage 😉

[2020-03-05 00:51] casz commented on #1303
This is not a bug.
At the moment our merger does not support deep merging.
It only supports  keys merger.

So
[code]

And

[code]

Will be

[code]

[2020-03-05 06:17] frank273 opened #1305 "cannot configure custom cert in Manage UpdateSites"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version: 2.204.2

- [x] Plugin version:
   Configuration as Code: 1.35
   UpdateSites Manager plugin: 2.0.0

- [x] OS: Ubuntu

### Description
We are using custom update sites (Jenkins -> Manage Jenkins -> Manage UpdateSites), that we want to

[2020-03-05 06:45] timja commented on #1305
We have a custom configurator for update sites which complicates this

[2020-03-05 06:55] Jetersen commented on #1305
You can also just put the certificates under: `${JENKINS_HOME}/update-center-rootCAs/`

[2020-03-05 20:20] DavidRodHub commented on #1304
If I understand correctly, if  adding views using the Jenkins GUI,  before doing a restart,  I also have to manually update the $JENKINS_HOME/casc_configs/jenkins.yaml with the added view otherwise  I'll lose it at the restart. Bummer!

When  a new view is added and then select configuration-code -> 'View Configuration",  the new jenkins view that was added via the GUI is there.  Why doesn't the c

[2020-03-05 20:26] timja commented on #1304
It's designed so that you don't make configuration changes through the GUI.
Normally you remove permissions for users to make that sort of change,
and get them to send a pull request to your jenkins.yaml file to get their view added

[2020-03-05 22:02] DavidRodHub commented on #1304
Got it.  Thanks for the  quick response.

On Thu, Mar 5, 2020 at 12:26 PM Tim Jacomb <notifications@github.com> wrote:

[2020-03-06 08:40] gaurav517 opened #1306 "could not install/configure rich-text-publisher-plugin"
### Description

Sorry, not sure whether this is right category.

I am not able to install/configure rich-text-publisher-plugin. I followed the instructions on README.md, installed it manually and checked reference `/configuration-as-code/reference` but there was no mention of this plugin anywhere. I searched with different keywords, couldn't find anything. I also double checked, jenkins shows it

[2020-03-06 09:34] Jetersen commented on #1306
Plugin compatibility is must likely your issue.
Please report the issue to the plugin

[2020-03-06 09:34] Jetersen commented on #1306
Does the plugin even have any global plugin configuration?

[2020-03-06 16:21] guilhermef opened #1307 "Unable to set the RefSpec template trait"
### Your checklist for this issue

🚨 Please review the [Support Policy](https://github.com/jenkinsci/.github/blob/master/SUPPORT.md)

- [x] The question was asked in the project's [Gitter chat](https://gitter.im/jenkinsci/configuration-as-code-plugin)
- [ ] Jenkins version
- [ ] Plugin version
- [ ] OS
- [ ] Reproduction steps

### Description

Hi,
I've been trying to populate the RefSpec template

[2020-03-06 16:58] Jetersen commented on #1307
Not sure how this is a configuration-as-code question.

This is a job dsl question.

[2020-03-06 17:03] guilhermef commented on #1307
Sorry about this @Jetersen

[2020-03-06 17:03] #1307 closed

[2020-03-06 22:27] gaurav517 commented on #1306
Thanks. couldn't find any global configuration.
How do we add plugin in such cases?

[2020-03-06 22:28] gaurav517 commented on #1306
Also raised it on plugin side: https://issues.jenkins-ci.org/browse/JENKINS-61376

[2020-03-06 22:28] timja commented on #1306
What are you expecting to configure here?

[2020-03-07 04:12] Jetersen commented on #1306
If there is no global configuration than there is nothing for JCasC to configure, so not sure how this an issue.

[2020-03-07 04:14] Jetersen commented on #1306
@gaurav517 https://jenkins.io/doc/book/managing/plugins/

Can we close this issue?

[2020-03-07 10:34] #1306 closed

[2020-03-07 11:02] #1304 closed

[2020-03-07 11:24] timja commented on #774
Closing in favour of jira issue, PR here:
https://github.com/jenkinsci/jenkins/pull/4552

[2020-03-07 11:24] #774 closed

[2020-03-07 14:03] timja commented on #1260
Pull request here: https://github.com/jenkinsci/configuration-as-code-plugin/pull/1308

[2020-03-07 14:08] gaurav517 commented on #1306
oh okay.. I was confused.. yep right, nothing to configure. 👍 thanks.

[2020-03-07 14:17] #1208 closed

[2020-03-07 14:17] #1279 closed

[2020-03-08 21:23] timja commented on #1254
Mailer PR: https://github.com/jenkinsci/mailer-plugin/pull/80
Core PR: https://github.com/jenkinsci/jenkins/pull/4557
Jcasc PR: https://github.com/jenkinsci/configuration-as-code-plugin/pull/1309

[2020-03-08 21:31] timja commented on #1036
I tried fixing this, it's not easy 😢. It seems to mostly affect Tools, not much else that I can see.

`getApplicableDescriptors()` needs to be called somewhere when loading values but I couldn't find a way to do it at least with how it's currently being built.

An example usage of it is in `GitTool`
https://github.com/jenkinsci/git-client-plugin/blob/master/src/main/java/hudson/plugins/git/GitTool

[2020-03-08 21:33] timja commented on #948
@Jetersen can you transfer this to https://github.com/jenkinsci/hashicorp-vault-plugin please?

[2020-03-08 21:41] Jetersen commented on #1254
Thanks for being on fire @timja 😍

[2020-03-10 08:18] #1260 closed

[2020-03-10 11:00] #1254 closed

[2020-03-10 20:38] timja commented on #45
Implemented json schema instead: https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/docs/features/jsonSchema.md

[2020-03-10 20:38] #45 closed

[2020-03-10 20:42] #1077 closed

[2020-03-10 20:42] timja commented on #1077
Supported now https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/docs/features/jsonSchema.md

[2020-03-10 20:45] timja commented on #828
Supported in 3.1.0 of hashicorp-vault-plugin https://github.com/jenkinsci/hashicorp-vault-plugin/releases

[2020-03-10 20:45] #828 closed

[2020-03-10 20:56] timja commented on #257
yes, most are tested.

[2020-03-10 20:56] #257 closed

[2020-03-11 09:49] amuniz opened #1314 "Extract snakeyaml to an API plugin"
### Feature Request

Extract snakeyaml into an API plugin so we can stop shading it on every plugin.

[2020-03-11 09:56] amuniz opened #1315 "Make the management page extensible"
### Feature Request

Make `ConfigurationAsCode` management link extensible.

Add the ability to:
* Extend/Override the behaviour of existent actions
* Add new actions
* Hide the _"Replace configuration source with"_ section (as it is both useless and risky when loading the configuration from SCM)

[2020-03-11 13:21] jawlitkp opened #1316 "Jenkins credential changes every time redeploy and No longer useful"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Jenkins version

- [x ] Plugin version

- [x ] OS

### Description
jenkins version : Jenkins ver. 2.225
Plugin version : 1.36

Steps:

1. Configured GitHub credentials from jenkins UI
2. Copy content from cofig as code yaml file
3. Added connect to je

[2020-03-11 16:07] emelianrus opened #1317 "disabling reloading secrets from vault"
Hi could you help me with issue please
i have case when token expired after some time, and from security reasons we can't allow to renew it
and casc trying to update secrets and change previous loaded secrets with empty string
Is there any procedure to disable reloading tokens from vault? or load them only one time?

[2020-03-11 16:27] Jetersen commented on #1317
remove the environment variables after initial startup.

[2020-03-11 16:29] Jetersen commented on #1317
JCasC expects to have access to these secrets.
I suggest you either adapt or change the approach turning vault secrets into files as a sidecar container.

[2020-03-11 16:30] Jetersen commented on #1317
another approach is to use one JCasC config with credentials on initial startup

[2020-03-11 16:34] Jetersen commented on #1316
it's not a bug it's a security feature.
Jenkins stores a master key under `$JENKINS_HOME/secrets/`

Either you store this file together with the JCasC setup or use one of the many options to configure secrets, you can actually use kubernetes secrets.

[2020-03-11 16:36] Jetersen commented on #1316
Please see
https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/docs/features/secrets.adoc

[2020-03-11 17:33] emelianrus commented on #1317
but it non-secured approaches....
may be better to provide something like ENV variable like  "VAULT_UPDATE_TOKEN=false" ?

[2020-03-11 17:34] jawlitkp commented on #1316
Yes, I ended up moving to Kubernetes secrets since my solution is immutable Jenkins infra. Thanks for a quick reply. just curious if you can provide an example of how I can store Jenkins secrets file together with the JCasC setup?

[2020-03-11 18:22] ipleten commented on #1317
MB CasC  just shouldn't replace credentials with empty values if it can't connect to Vault?

[2020-03-11 19:25] Jetersen commented on #1317
@emelianrus depends how secure you want to be.
The problem is not with vault secret resolver. You will still end up with blank credentials base of your jenkins yaml config file.

[2020-03-11 19:33] Jetersen commented on #1316
Have a look here: https://github.com/hmcts/cnp-jenkins-config

[2020-03-11 22:40] sanyamaz commented on #1317
I have the same security issue and didn't find any workaround for this problem
should be provide some way to do this?

[2020-03-12 06:33] timja commented on #1317
I think it would be reasonable to add some config property to allow throwing an error if a secret can not be found by the vault secret source, or if vault can’t be contacted

[2020-03-12 08:28] Jetersen commented on #1317
I do not see a way forward without changes to JCasC removing the credentials from yaml after initial startup.
Any secrets used outside of the credentials block would still end up blank.

Unless someone has a bright idea to how this increased security model should work. I do not see a way forward.

[2020-03-12 08:39] Jetersen commented on #1316
Again using kubernetes you can create a secret file that your Jenkins master will consume.

[2020-03-13 17:19] jmMeessen opened #1320 "Failure to download schema on CloudBees Core distribution"
Hello,

I am trying to use the plugin with a CloudBees Core for Traditional  Platforms Master and have no success.
The version is 2.204.1.3
Note: the download works with an OSS Jenkins.

The schema download fails. On the console I get the attached errors. At first sight, the problem is not coming from proprietary code.

/- Jmm
[JCasC bug.txt](https://github.com/jenkinsci/jcasc-vscode-extension/fil

[2020-03-13 17:30] timja commented on #1320
The vscode plugin just downloads the schema, moved to main repo,

cc @oleg-nenashev

[2020-03-14 18:43] timja commented on #1255
What's in your configuration file?

It works fine for me with:

[code]

[code]

[2020-03-14 18:45] timja commented on #923
The configuration-as-code plugin doesn't host the credentials configurator anymore, it's with the [credentials-plugin](https://github.com/jenkinsci/credentials-plugin) which has it's issues on jira,

I wouldn't recommend this anyway as explained above

[2020-03-14 18:45] #923 closed

[2020-03-14 18:46] timja commented on #530
We support multiple files in a directory or a user can merge their own config, closing as there's been no movement or interest in this in a long time afaik

[2020-03-14 18:46] #530 closed

[2020-03-14 18:48] timja commented on #801
This won't be supported in this plugin, once https://github.com/jenkinsci/configuration-as-code-plugin/issues/34 is solved then it can be implemented in another plugin, follow https://github.com/jenkinsci/configuration-as-code-plugin/issues/34 for updates

[2020-03-14 18:48] #801 closed

[2020-03-16 03:27] #913 closed

[2020-03-16 11:34] #1227 closed

[2020-03-17 12:30] escoem commented on #1314
I cannot assign the issue to myself but I have an initial version of the jenkins plugin and it works properly with configuration-as-code-plugin.

I will send the PR as soon as the library is available in jenkinsci org

[2020-03-18 00:57] maximkulkin commented on #1303
It looks like the opposite: looks like merger IS able to do deep merge (per schema that element is an array). But the problem is that in this case it should be special cased to merge particular items in array into one item.

[2020-03-18 05:35] themasterofscrumpets opened #1329 "Usuck"
[jenkins-jira]: https://issues.jenkins-ci.org
[dashboard]: https://issues.jenkins.io/secure/Dashboard.jspa?selectPageId=18341
[contributing]: ../blob/master/docs/CONTRIBUTING.md
[compatibility]: ../blob/master/docs/COMPATIBILITY.md

### Your checklist for this issue

🚨 Please review the [guidelines for contributing][contributing] to this repository.
💡 To better understand plugin compatibility issu

[2020-03-18 05:43] themasterofscrumpets opened #1330 "Leavemebe"
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [x] Link to any upstream changes that might be required (for example Jenkins Core pull request)

### Feature Request

Describe your feature request here.

[2020-03-18 05:45] themasterofscrumpets commented on #1329
Yo

[2020-03-18 07:40] Jetersen commented on #1330
Not sure what this is about can you upate the description to describe your feature request?

[2020-03-18 07:45] Jetersen commented on #1329
@jenkinsci/github-admins not sure this or #1330 is helpful

[2020-03-18 08:03] #1330 closed

[2020-03-18 08:03] #1329 closed

[2020-03-18 08:05] oleg-nenashev commented on #1329
Thanks to @daniel-beck for banning the user

[2020-03-18 08:08] oleg-nenashev commented on #1329
user reported

[2020-03-19 21:13] samitkumarpatel opened #1331 "Invalid configuration elements for type class jenkins.model.Jenkins : credentials."
### Your checklist for this issue

🚨 Please review the [guidelines for contributing](../blob/master/docs/CONTRIBUTING.md) to this repository.

- [ x] Jenkins version
2.204.5
- [x ] Plugin version
1.36
- [ x] OS
Mac OS (Jenkins running on a docker container)

### Description
while pointing a URL on `Path or URL` , which returns a valid jankins.yml like below , Gives me a validation error in the Jen

[2020-03-19 21:14] timja commented on #1331
credentials is it's own root element
https://github.com/jenkinsci/configuration-as-code-plugin/tree/master/demos/credentials

Try export your credentials from a running instance to get the config you need

[2020-03-19 21:14] #1331 closed

[2020-03-22 11:23] samitkumarpatel commented on #1331
Ok. Got it. Thanks for the clarification.

[2020-03-24 08:19] slangdaddy opened #1336 "Ambiguous use of the variable "SECRETS""
### Checklist

- [x] Jenkins version: 2.204.5
- [x] Plugin version: 1.36
- [x] OS: Mac OS

### Description

I believe that the environment variable "SECRETS" has become ambiguous with the implementation of #1160. Before the implementation, one could use this variable to point to a directory, where secrets could be found. Now, this variable is interpreted as a pointer to a properties file. You can